In [1]:
import numpy as np
import pandas as pd
import yfinance as yf

Importing yfinance data

In [2]:

index = yf.download( "^IXIC", start = "2010-01-01",
                           end ="2023-05-01")
index

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-01-04,2294.409912,2311.149902,2294.409912,2308.419922,2308.419922,1931380000
2010-01-05,2307.270020,2313.729980,2295.620117,2308.709961,2308.709961,2367860000
2010-01-06,2307.709961,2314.070068,2295.679932,2301.090088,2301.090088,2253340000
2010-01-07,2298.090088,2301.300049,2285.219971,2300.050049,2300.050049,2270050000
2010-01-08,2292.239990,2317.600098,2290.610107,2317.169922,2317.169922,2145390000
...,...,...,...,...,...,...
2023-04-24,12053.469727,12103.580078,11960.299805,12037.200195,12037.200195,4854050000
2023-04-25,11968.809570,11990.459961,11798.769531,11799.160156,11799.160156,4806020000
2023-04-26,11913.230469,11967.990234,11833.070312,11854.349609,11854.349609,5281970000
2023-04-27,11972.150391,12154.009766,11950.919922,12142.240234,12142.240234,5253710000
2023-04-28,12117.540039,12227.719727,12082.570312,12226.580078,12226.580078,5331380000

Calculating Volatility

In [3]:
index['daily_returns'] =(index['Close']-index['Open'])/index['Open']
volatility= index['daily_returns'].std() *np.sqrt(252)
volatility

0.16034357851986736

Calculating Cumulative returns

In [4]:
cumulative_returns= ( index['Close']/index['Open']).product() -1
cumulative_returns

0.9740700296854292

Sharpe Ratio

In [5]:
daily_returns=index['daily_returns']
annual_returns= daily_returns.mean()*252
risk_free_rate = 0.035
annual_std_dev = daily_returns.std()*np.sqrt(252)
sharpe_ratio=(annual_returns-risk_free_rate) / annual_std_dev
sharpe_ratio

0.18081809572829977

Maxdrawdown

In [6]:
index['cumulative_rolling_max'] = (index['Close']/index['Open']).cumprod()-1
drawdown = cumulative_returns - index['cumulative_rolling_max']
MDD= np.min(drawdown)
MDD

-0.1507287299262534

Sortino Ratio

In [7]:
downside_return = np.where((index['daily_returns'])<0, index['daily_returns']-risk_free_rate, 0)
downside_deviation = np.sqrt(np.mean(np.square(downside_return)))
Sortino_ratio=(annual_returns-risk_free_rate)/downside_deviation
Sortino_ratio

0.9935080794896027