In [60]:
# Load the required modules and packages
import numpy as np
import pandas as pd
import yfinance as yf
from datetime import datetime

# Pull index data from Yahoo finance
data = yf.download('^NSEI','2010-01-01', '2023-05-01')


# # Compute the logarithmic returns using the closing price 
returns= np.log(data['Close'] / data['Close'].shift(1))
volatility = (returns).std() * np.sqrt(252) 
sharpe_ratio = ((returns.mean()*252) - 0.044) / volatility

data['Adj Close']=np.log(data['Close'] / data['Close'].shift(1))
data['dd']=data[data['Adj Close']<0]['Adj Close']

data.columns = ["Open", "High", "Low", "Close", "Log returns", "Volume", "dd"]

sharpe_ratio

[*********************100%***********************]  1 of 1 completed

0.2977066377262081

In [61]:
volatility

0.1732624887801287

In [62]:
down_vola= (data['dd']).std()*np.sqrt(252)
sor_ratio = ((returns.mean()*252) - 0.07) / down_vola

sor_ratio

0.1898373172801232

In [63]:
# calculating cumm.
data['Daily_return']=data['Close']/data['Close'].shift(1)-1
data['Daily_return_pct'] = data['Close'].pct_change(1)
data['Cumulative_return'] = np.cumsum(data['Daily_return'])
data.tail()

,Open,High,Low,Close,Log returns,Volume,dd,Daily_return,Daily_return_pct,Cumulative_return
Date,,,,,,,,,,
2023-04-24,17707.550781,17754.500000,17612.500000,17743.400391,0.006749,255700,NaN,0.006772,0.006772,1.415356
2023-04-25,17761.550781,17807.449219,17716.849609,17769.250000,0.001456,297400,NaN,0.001457,0.001457,1.416813
2023-04-26,17767.300781,17827.750000,17711.199219,17813.599609,0.002493,233000,NaN,0.002496,0.002496,1.419309
2023-04-27,17813.099609,17931.599609,17797.900391,17915.050781,0.005679,241400,NaN,0.005695,0.005695,1.425004
2023-04-28,17950.400391,18089.150391,17885.300781,18065.000000,0.008335,290300,NaN,0.008370,0.008370,1.433374

In [64]:
ticker = "MARUTI.NS"
df=yf.download(ticker,start="2010-01-01",end="2023-05-01",actions="True")
df.to_csv("final.csv")
def max_drawdown(data,window=3352):
    Roll_Max= data['Close'].rolling(window,min_periods=1).max()
    Daily_drawdown= data['Close']/Roll_Max-1.0
    max_daily_drawdown = Daily_drawdown.rolling(window , min_periods=1).min()
    
    return max_daily_drawdown

print(max_drawdown(df))

[*********************100%***********************]  1 of 1 completed
Date
2010-01-04    0.000000
2010-01-05   -0.022946
2010-01-06   -0.057881
2010-01-07   -0.063263
2010-01-08   -0.076251
                ...
2023-04-24   -0.592014
2023-04-25   -0.592014
2023-04-26   -0.592014
2023-04-27   -0.592014
2023-04-28   -0.592014
Name: Close, Length: 3288, dtype: float64