In [1]:
import yfinance as yf
import pandas as pd
from statistics import mean, stdev
from math import sqrt

In [2]:
equities = ['BABA', 'NSRGF', 'SSNLF', 'TM', 'MELI']
indices = ['^GSPC', '^DJI', '^IXIC', '^NYA', '^RUT']
equities_rfr = [0.03489, 0.01230, 0.03448, 0.00385, 0.03530]
indices_rfr = [0.05250, 0.05250, 0.05250, 0.05250, 0.05250]

In [3]:
equities_results = []
indices_results = []
equity_data = {}
index_data = {}

In [4]:
for equity in equities:
    equity_data[equity] = yf.download(equity, start="2010-01-01", end="2023-05-01")
equity_data

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

{'BABA':                  Open       High        Low      Close  Adj Close     Volume
 Date
 2014-09-19  92.699997  99.699997  89.949997  93.889999  93.889999  271879400
 2014-09-22  92.699997  92.949997  89.500000  89.889999  89.889999   66657800
 2014-09-23  88.940002  90.480003  86.620003  87.169998  87.169998   39009800
 2014-09-24  88.470001  90.570000  87.220001  90.570000  90.570000   32088000
 2014-09-25  91.089996  91.500000  88.500000  88.919998  88.919998   28598000
 ...               ...        ...        ...        ...        ...        ...
 2023-04-24  88.400002  88.480003  86.040001  86.889999  86.889999   22757100
 2023-04-25  85.320000  85.699997  82.211998  82.919998  82.919998   36441300
 2023-04-26  85.040001  85.220001  82.760002  82.820000  82.820000   24983000
 2023-04-27  83.070000  84.639999  82.639999  84.470001  84.470001   24506800
 2023-04-28  84.180000  85.080002  83.870003  84.690002  84.690002   18109300

 [2167 rows x 6 columns],
 'NSRGF':                   Open        High         Low       Close   Adj Close  Volume
 Date
 2010-01-04   49.000000   49.650002   49.000000   49.400002   40.686214    7800
 2010-01-05   48.549999   48.549999   48.090000   48.099998   39.615520    3300
 2010-01-06   47.660000   47.849998   47.330002   47.849998   39.409618   11700
 2010-01-07   47.200001   47.360001   46.900002   47.000000   38.709553    4900
 2010-01-08   47.590000   48.250000   47.150002   48.250000   39.739063   11000
 ...                ...         ...         ...         ...         ...     ...
 2023-04-24  128.830002  130.029999  127.879997  129.199997  129.199997    1500
 2023-04-25  128.580002  130.500000  127.500000  127.500000  127.500000    8600
 2023-04-26  128.649994  129.679993  128.639999  128.639999  128.639999   14600
 2023-04-27  127.910004  127.910004  126.250000  127.180000  127.180000    8100
 2023-04-28  127.720001  128.690002  127.489998  128.059998  128.059998    1500

 [3353 rows x 6 columns],
 'SSNLF':                  Open       High        Low      Close     Adj Close  Volume
 Date
 2010-10-11  13.200000  13.200000  13.200000  13.200000  3.250611e+27    2500
 2010-10-12  13.200000  13.200000  13.200000  13.200000  3.250611e+27       0
 2010-10-13  13.200000  13.200000  13.200000  13.200000  3.250611e+27    2500
 2010-10-14  13.200000  13.200000  13.200000  13.200000  3.250611e+27       0
 2010-10-15  13.200000  13.200000  13.200000  13.200000  3.250611e+27       0
 ...               ...        ...        ...        ...           ...     ...
 2023-04-24  40.599899  40.599899  40.599899  40.599899  4.059990e+01       0
 2023-04-25  40.599899  40.599899  40.599899  40.599899  4.059990e+01       0
 2023-04-26  40.599899  40.599899  40.599899  40.599899  4.059990e+01       0
 2023-04-27  40.599899  40.599899  40.599899  40.599899  4.059990e+01       0
 2023-04-28  40.599899  40.599899  40.599899  40.599899  4.059990e+01       0

 [3159 rows x 6 columns],
 'TM':                   Open        High         Low       Close   Adj Close  Volume
 Date
 2010-01-04   84.750000   85.169998   84.709999   85.080002   72.314583  258800
 2010-01-05   83.169998   83.900002   83.010002   83.769997   71.201126  466000
 2010-01-06   84.349998   85.070000   84.199997   84.839996   72.110588  390000
 2010-01-07   83.110001   83.839996   83.110001   83.790001   71.218124  377700
 2010-01-08   84.500000   85.889999   84.500000   85.760002   72.892548  351900
 ...                ...         ...         ...         ...         ...     ...
 2023-04-24  134.050003  134.970001  133.889999  134.839996  134.839996  222300
 2023-04-25  134.750000  134.940002  133.460007  133.509995  133.509995  257100
 2023-04-26  134.490005  134.990005  133.880005  134.020004  134.020004  324000
 2023-04-27  135.759995  137.839996  135.759995  137.520004  137.520004  323600
 2023-04-28  136.619995  137.339996  136.289993  137.330002  137.330002  300000

 [3353 rows x 6 columns],
 'MELI':                    Open         High          Low        Close    Adj Close  \
 Date
 2010-01-04    50.900002    50.900002    48.730000    50.590000    49.021591
 2010-01-05    50.549999    52.040001    49.900002    51.880001    50.271591
 2010-01-06    51.880001    52.400002    51.020000    51.270000    49.680515
 2010-01-07    51.110001    51.619999    49.279999    50.259998    48.701820
 2010-01-08    50.000000    51.000000    49.990002    50.509998    48.944065
 ...                 ...          ...          ...          ...          ...
 2023-04-24  1282.000000  1285.989990  1252.130005  1273.619995  1273.619995
 2023-04-25  1261.780029  1262.310059  1227.579956  1229.550049  1229.550049
 2023-04-26  1241.959961  1259.989990  1232.920044  1235.630005  1235.630005
 2023-04-27  1257.969971  1257.969971  1233.719971  1244.920044  1244.920044
 2023-04-28  1248.380005  1294.270020  1237.250000  1277.489990  1277.489990

             Volume
 Date
 2010-01-04  978400
 2010-01-05  516800
 2010-01-06  402100
 2010-01-07  479800
 2010-01-08  345500
 ...            ...
 2023-04-24  316600
 2023-04-25  341400
 2023-04-26  315700
 2023-04-27  300900
 2023-04-28  446200

 [3353 rows x 6 columns]}

In [5]:
for index in indices:
    index_data[index] = yf.download(index, start="2010-01-01", end="2023-05-01")
index_data

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

{'^GSPC':                    Open         High          Low        Close    Adj Close  \
 Date
 2010-01-04  1116.560059  1133.869995  1116.560059  1132.989990  1132.989990
 2010-01-05  1132.660034  1136.630005  1129.660034  1136.520020  1136.520020
 2010-01-06  1135.709961  1139.189941  1133.949951  1137.140015  1137.140015
 2010-01-07  1136.270020  1142.459961  1131.319946  1141.689941  1141.689941
 2010-01-08  1140.520020  1145.390015  1136.219971  1144.979980  1144.979980
 ...                 ...          ...          ...          ...          ...
 2023-04-24  4132.069824  4142.410156  4117.770020  4137.040039  4137.040039
 2023-04-25  4126.430176  4126.430176  4071.379883  4071.629883  4071.629883
 2023-04-26  4087.780029  4089.669922  4049.350098  4055.989990  4055.989990
 2023-04-27  4075.290039  4138.240234  4075.290039  4135.350098  4135.350098
 2023-04-28  4129.629883  4170.060059  4127.180176  4169.479980  4169.479980

                 Volume
 Date
 2010-01-04  3991400000
 2010-01-05  2491020000
 2010-01-06  4972660000
 2010-01-07  5270680000
 2010-01-08  4389590000
 ...                ...
 2023-04-24  3290940000
 2023-04-25  3978640000
 2023-04-26  3837030000
 2023-04-27  3750550000
 2023-04-28  4087800000

 [3352 rows x 6 columns],
 '^DJI':                     Open          High           Low         Close  \
 Date
 2010-01-04  10430.690430  10604.969727  10430.690430  10583.959961
 2010-01-05  10584.559570  10584.559570  10522.519531  10572.019531
 2010-01-06  10564.719727  10594.990234  10546.549805  10573.679688
 2010-01-07  10571.110352  10612.370117  10505.209961  10606.860352
 2010-01-08  10606.400391  10619.400391  10554.330078  10618.190430
 ...                  ...           ...           ...           ...
 2023-04-24  33805.039062  33891.148438  33726.089844  33875.398438
 2023-04-25  33828.339844  33875.488281  33525.390625  33530.828125
 2023-04-26  33596.339844  33645.828125  33235.851562  33301.871094
 2023-04-27  33381.660156  33859.750000  33374.648438  33826.160156
 2023-04-28  33797.429688  34104.558594  33728.398438  34098.160156

                Adj Close     Volume
 Date
 2010-01-04  10583.959961  179780000
 2010-01-05  10572.019531  188540000
 2010-01-06  10573.679688  186040000
 2010-01-07  10606.860352  217390000
 2010-01-08  10618.190430  172710000
 ...                  ...        ...
 2023-04-24  33875.398438  252020000
 2023-04-25  33530.828125  297880000
 2023-04-26  33301.871094  321170000
 2023-04-27  33826.160156  343240000
 2023-04-28  34098.160156  354310000

 [3353 rows x 6 columns],
 '^IXIC':                     Open          High           Low         Close  \
 Date
 2010-01-04   2294.409912   2311.149902   2294.409912   2308.419922
 2010-01-05   2307.270020   2313.729980   2295.620117   2308.709961
 2010-01-06   2307.709961   2314.070068   2295.679932   2301.090088
 2010-01-07   2298.090088   2301.300049   2285.219971   2300.050049
 2010-01-08   2292.239990   2317.600098   2290.610107   2317.169922
 ...                  ...           ...           ...           ...
 2023-04-24  12053.469727  12103.580078  11960.299805  12037.200195
 2023-04-25  11968.809570  11990.459961  11798.769531  11799.160156
 2023-04-26  11913.230469  11967.990234  11833.070312  11854.349609
 2023-04-27  11972.150391  12154.009766  11950.919922  12142.240234
 2023-04-28  12117.540039  12227.719727  12082.570312  12226.580078

                Adj Close      Volume
 Date
 2010-01-04   2308.419922  1931380000
 2010-01-05   2308.709961  2367860000
 2010-01-06   2301.090088  2253340000
 2010-01-07   2300.050049  2270050000
 2010-01-08   2317.169922  2145390000
 ...                  ...         ...
 2023-04-24  12037.200195  4854050000
 2023-04-25  11799.160156  4806020000
 2023-04-26  11854.349609  5281970000
 2023-04-27  12142.240234  5253710000
 2023-04-28  12226.580078  5331380000

 [3353 rows x 6 columns],
 '^NYA':                     Open          High           Low         Close  \
 Date
 2010-01-04   7184.979980   7331.120117   7184.979980   7326.740234
 2010-01-05   7326.740234   7359.459961   7313.600098   7354.870117
 2010-01-06   7354.850098   7389.279785   7342.490234   7377.700195
 2010-01-07   7377.700195   7398.209961   7325.509766   7393.930176
 2010-01-08   7393.930176   7426.410156   7367.810059   7425.350098
 ...                  ...           ...           ...           ...
 2023-04-24  15578.929688  15623.040039  15557.730469  15606.709961
 2023-04-25  15606.709961  15606.709961  15361.570312  15363.530273
 2023-04-26  15363.530273  15363.530273  15201.099609  15228.580078
 2023-04-27  15228.580078  15443.059570  15228.580078  15431.639648
 2023-04-28  15431.639648  15560.009766  15371.450195  15545.879883

                Adj Close      Volume
 Date
 2010-01-04   7326.740234  3991400000
 2010-01-05   7354.870117  2491020000
 2010-01-06   7377.700195  4972660000
 2010-01-07   7393.930176  5270680000
 2010-01-08   7425.350098  4389590000
 ...                  ...         ...
 2023-04-24  15606.709961  3290940000
 2023-04-25  15363.530273  3978640000
 2023-04-26  15228.580078  3837030000
 2023-04-27  15431.639648  3750550000
 2023-04-28  15545.879883  4087800000

 [3353 rows x 6 columns],
 '^RUT':                    Open         High          Low        Close    Adj Close  \
 Date
 2010-01-04   628.109985   640.099976   628.109985   640.099976   640.099976
 2010-01-05   639.690002   641.890015   635.950012   638.489990   638.489990
 2010-01-06   638.289978   641.260010   636.400024   637.950012   637.950012
 2010-01-07   638.109985   642.070007   632.739990   641.969971   641.969971
 2010-01-08   640.340027   644.690002   639.559998   644.559998   644.559998
 ...                 ...          ...          ...          ...          ...
 2023-04-24  1790.250000  1797.609985  1781.670044  1788.869995  1788.869995
 2023-04-25  1779.329956  1779.329956  1745.910034  1745.949951  1745.949951
 2023-04-26  1741.290039  1747.280029  1725.819946  1730.410034  1730.410034
 2023-04-27  1733.400024  1752.000000  1726.770020  1751.219971  1751.219971
 2023-04-28  1749.849976  1773.020020  1746.839966  1768.989990  1768.989990

                 Volume
 Date
 2010-01-04  3991400000
 2010-01-05  2491020000
 2010-01-06  4972660000
 2010-01-07  5270680000
 2010-01-08  4389590000
 ...                ...
 2023-04-24  3290940000
 2023-04-25  3978640000
 2023-04-26  3837030000
 2023-04-27  3750550000
 2023-04-28  4087800000

 [3353 rows x 6 columns]}

In [6]:
cumulative_returns = []
for equity in equities:
    initial_value = equity_data[equity].iloc[0]['Adj Close']
    final_value = equity_data[equity].iloc[-1]['Adj Close']
    cumulative_return = (final_value-initial_value)/initial_value
    cumulative_returns.append(cumulative_return)
equities_results.append(cumulative_returns)
cumulative_returns

[-0.09798697420437416,
 2.1475033816513895,
 -1.0,
 0.8990637360647881,
 25.059741418299183]

In [7]:
cumulative_returns = []
for index in indices:
    initial_value = index_data[index].iloc[0]['Adj Close']
    final_value = index_data[index].iloc[-1]['Adj Close']
    cumulative_return = (final_value-initial_value)/initial_value
    cumulative_returns.append(cumulative_return)
indices_results.append(cumulative_returns)
cumulative_returns

[2.680067799721897,
 2.2216826482806984,
 4.296514712190681,
 1.1218003348713816,
 1.7636151502975286]

In [8]:
volatilities = []
for equity in equities:
    daily_returns = []
    hist = equity_data[equity]
    rows = hist.shape[0]
    for i in range(1, rows):
        daily_return = (hist.iloc[i]['Adj Close']-hist.iloc[i-1]['Adj Close'])/hist.iloc[i-1]['Adj Close']
        daily_returns.append(daily_return)
    volatility = stdev(daily_returns)*sqrt(252)
    volatilities.append(volatility)
equities_results.append(volatilities)
volatilities

[0.4231934482444529,
 0.19050018924146211,
 3.0427765316619833,
 0.218704025383262,
 0.4815937032552965]

In [9]:
volatilities = []
for index in indices:
    daily_returns = []
    hist = index_data[index]
    rows = hist.shape[0]
    for i in range(1, rows):
        daily_return = (hist.iloc[i]['Adj Close']-hist.iloc[i-1]['Adj Close'])/hist.iloc[i-1]['Adj Close']
        daily_returns.append(daily_return)
    volatility = stdev(daily_returns)*sqrt(252)
    volatilities.append(volatility)
indices_results.append(volatilities)
volatilities

[0.17763375397755723,
 0.17181791926369078,
 0.2060552101700032,
 0.17551726616561375,
 0.23003178682643666]

In [10]:
sharpe_ratios = []
for equity, equity_rfr in zip(equities, equities_rfr):
    daily_returns = []
    hist = equity_data[equity]
    rows = hist.shape[0]
    for i in range(1, rows):
        daily_return = (hist.iloc[i]['Adj Close']-hist.iloc[i-1]['Adj Close'])/hist.iloc[i-1]['Adj Close']
        daily_returns.append(daily_return)
    expected_return = mean(daily_returns)
    std = stdev(daily_returns)
    sharpe_ratio = (expected_return - equity_rfr/252)/std
    sharpe_ratios.append(sharpe_ratio)
equities_results.append(sharpe_ratios)
sharpe_ratios

[0.0060768884886884,
 0.03044400373446715,
 -0.03705812253772435,
 0.019665768186406776,
 0.04242081834927333]

In [11]:
sharpe_ratios = []
for index, index_rfr in zip(indices, indices_rfr):
    daily_returns = []
    hist = index_data[index]
    rows = hist.shape[0]
    for i in range(1, rows):
        daily_return = (hist.iloc[i]['Adj Close']-hist.iloc[i-1]['Adj Close'])/hist.iloc[i-1]['Adj Close']
        daily_returns.append(daily_return)
    expected_return = mean(daily_returns)
    std = stdev(daily_returns)
    sharpe_ratio = (expected_return - index_rfr/252)/std
    sharpe_ratios.append(sharpe_ratio)
indices_results.append(sharpe_ratios)
sharpe_ratios

[0.021752282921790392,
 0.018438641970709872,
 0.02878732865740035,
 0.007014532624766684,
 0.01384158807133475]

In [12]:
sortino_ratios = []
for equity, equity_rfr in zip(equities, equities_rfr):
    daily_returns = []
    hist = equity_data[equity]
    rows = hist.shape[0]
    for i in range(1, rows):
        daily_return = (hist.iloc[i]['Adj Close']-hist.iloc[i-1]['Adj Close'])/hist.iloc[i-1]['Adj Close']
        daily_returns.append(daily_return)
    expected_return = mean(daily_returns)
    negative_returns = [retrn for retrn in daily_returns if retrn < 0]
    std = stdev(negative_returns)
    sortino_ratio = (expected_return - equity_rfr/252)/std
    sortino_ratios.append(sortino_ratio)
equities_results.append(sortino_ratios)
sortino_ratios

[0.009540194821883837,
 0.04491801530532525,
 -0.013581012469964338,
 0.029430313006224167,
 0.06334535131800235]

In [13]:
sortino_ratios = []
for index, index_rfr in zip(indices, indices_rfr):
    daily_returns = []
    hist = index_data[index]
    rows = hist.shape[0]
    for i in range(1, rows):
        daily_return = (hist.iloc[i]['Adj Close']-hist.iloc[i-1]['Adj Close'])/hist.iloc[i-1]['Adj Close']
        daily_returns.append(daily_return)
    expected_return = mean(daily_returns)
    negative_returns = [retrn for retrn in daily_returns if retrn < 0]
    std = stdev(negative_returns)
    sortino_ratio = (expected_return - index_rfr/252)/std
    sortino_ratios.append(sortino_ratio)
indices_results.append(sortino_ratios)
sortino_ratios

[0.02663139123173904,
 0.02228359410734883,
 0.036356273425738904,
 0.008567540452015162,
 0.018052018778782777]

In [14]:
max_drawdowns = []
for equity in equities:
    hist = equity_data[equity]
    rows = hist.shape[0]
    start = hist.iloc[0]['Adj Close']
    max_drawdown = 0
    for i in range(1, rows):
        max_drawdown = min(max_drawdown, (hist.iloc[i]['Adj Close'] - start)/start)
        start = max(start, hist.iloc[i]['Adj Close'])
    max_drawdowns.append(max_drawdown)
equities_results.append(max_drawdowns)
max_drawdowns

[-0.8008765888597085,
 -0.25444181182531617,
 -1.5130570698843429,
 -0.3835927695702619,
 -0.6912323378248619]

In [15]:
max_drawdowns = []
for index in indices:
    hist = index_data[index]
    rows = hist.shape[0]
    start = hist.iloc[0]['Adj Close']
    max_drawdown = 0
    for i in range(1, rows):
        max_drawdown = min(max_drawdown, (hist.iloc[i]['Adj Close'] - start)/start)
        start = max(start, hist.iloc[i]['Adj Close'])
    max_drawdowns.append(max_drawdown)
indices_results.append(max_drawdowns)
max_drawdowns

[-0.3392496000265327,
 -0.37086171369594323,
 -0.36395279909120204,
 -0.3811424952096922,
 -0.4306132568464563]

In [16]:
equities_results

[[-0.09798697420437416,
  2.1475033816513895,
  -1.0,
  0.8990637360647881,
  25.059741418299183],
 [0.4231934482444529,
  0.19050018924146211,
  3.0427765316619833,
  0.218704025383262,
  0.4815937032552965],
 [0.0060768884886884,
  0.03044400373446715,
  -0.03705812253772435,
  0.019665768186406776,
  0.04242081834927333],
 [0.009540194821883837,
  0.04491801530532525,
  -0.013581012469964338,
  0.029430313006224167,
  0.06334535131800235],
 [-0.8008765888597085,
  -0.25444181182531617,
  -1.5130570698843429,
  -0.3835927695702619,
  -0.6912323378248619]]

In [17]:
rows = ['Cumulative Return', 'Volatility', 'Sharpe Ratio', 'Sortino Ratio', 'Max Drawdown']
Equities_results = pd.DataFrame(equities_results, index=rows, columns=equities)
Indices_results = pd.DataFrame(indices_results, index=rows, columns=indices)

In [18]:
Equities_results

                       BABA     NSRGF     SSNLF        TM       MELI
Cumulative Return -0.097987  2.147503 -1.000000  0.899064  25.059741
Volatility         0.423193  0.190500  3.042777  0.218704   0.481594
Sharpe Ratio       0.006077  0.030444 -0.037058  0.019666   0.042421
Sortino Ratio      0.009540  0.044918 -0.013581  0.029430   0.063345
Max Drawdown      -0.800877 -0.254442 -1.513057 -0.383593  -0.691232

In [19]:
Indices_results

                      ^GSPC      ^DJI     ^IXIC      ^NYA      ^RUT
Cumulative Return  2.680068  2.221683  4.296515  1.121800  1.763615
Volatility         0.177634  0.171818  0.206055  0.175517  0.230032
Sharpe Ratio       0.021752  0.018439  0.028787  0.007015  0.013842
Sortino Ratio      0.026631  0.022284  0.036356  0.008568  0.018052
Max Drawdown      -0.339250 -0.370862 -0.363953 -0.381142 -0.430613