In [22]:
import numpy as np
import pandas as pd
import yfinance as yf

In [23]:
S_K600 = yf.download(tickers = "^DJI",start="2010-01-01",
                     end="2023-05-05")
S_K600

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-01-04,10430.690430,10604.969727,10430.690430,10583.959961,10583.959961,179780000
2010-01-05,10584.559570,10584.559570,10522.519531,10572.019531,10572.019531,188540000
2010-01-06,10564.719727,10594.990234,10546.549805,10573.679688,10573.679688,186040000
2010-01-07,10571.110352,10612.370117,10505.209961,10606.860352,10606.860352,217390000
2010-01-08,10606.400391,10619.400391,10554.330078,10618.190430,10618.190430,172710000
...,...,...,...,...,...,...
2023-04-28,33797.429688,34104.558594,33728.398438,34098.160156,34098.160156,354310000
2023-05-01,34116.808594,34257.828125,34030.140625,34051.699219,34051.699219,244190000
2023-05-02,34017.621094,34017.750000,33436.660156,33684.531250,33684.531250,274460000
2023-05-03,33726.640625,33811.839844,33396.050781,33414.238281,33414.238281,286900000
2023-05-04,33347.781250,33354.859375,32937.500000,33127.738281,33127.738281,305160000

In [24]:
S_K600['daily_returns']=(S_K600['Close']-S_K600['Open'])/S_K600['Open']*100
daily_returns=S_K600['daily_returns']
daily_returns
volatility=daily_returns.std()*(252**0.5)
volatility

14.487639546163365

In [25]:
cumulative_returns= (1 + S_K600['daily_returns']/S_K600['Open']).cumprod()
cumulative_returns

Date
2010-01-04    1.000141
2010-01-05    1.000130
2010-01-06    1.000138
2010-01-07    1.000170
2010-01-08    1.000180
                ...
2023-04-28    1.007247
2023-05-01    1.007242
2023-05-02    1.007213
2023-05-03    1.007185
2023-05-04    1.007165
Length: 3357, dtype: float64

In [26]:
cumulative_max = S_K600['Close'].cummax()
drawdowns = (S_K600['Close'] - cumulative_max)/cumulative_max
max_drawdown = drawdowns.min()
max_drawdown

-0.37086171369594323

In [27]:
    annualized_mean_return = daily_returns.mean()*252
    annualized_std_dev = daily_returns.std() * (252**0.5)
    risk_free_rate=0
    sharpe_ratio=(annualized_mean_return-risk_free_rate)/annualized_std_dev
    sharpe_ratio

0.4992787807793748

Above sharpe ratio is calculated by assuming that risk free rate=0
mean of daily return is equal to 0.457
so let assume a target value of daily return as 0.8

In [28]:
target_returns=0.8
difference=daily_returns-target_returns
negative_differences=np.minimum(difference, 0)
squared_negative_differences=negative_differences**2
average_squared_negative_differences=np.mean(squared_negative_differences)
downside_deviation=np.sqrt(average_squared_negative_differences)

sortino_ratio=(annualized_mean_return-target_returns)/downside_deviation
sortino_ratio

5.625000549568026