In [ ]:
import yfinance as yf

Index1 - S&P500

In [ ]:
data = yf.download("^GSPC", start="2010-01-01" ,end="2023-05-01")

[*********************100%***********************]  1 of 1 completed

In [ ]:
data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-01-04,1116.560059,1133.869995,1116.560059,1132.989990,1132.989990,3991400000
2010-01-05,1132.660034,1136.630005,1129.660034,1136.520020,1136.520020,2491020000
2010-01-06,1135.709961,1139.189941,1133.949951,1137.140015,1137.140015,4972660000
2010-01-07,1136.270020,1142.459961,1131.319946,1141.689941,1141.689941,5270680000
2010-01-08,1140.520020,1145.390015,1136.219971,1144.979980,1144.979980,4389590000
...,...,...,...,...,...,...
2023-04-24,4132.069824,4142.410156,4117.770020,4137.040039,4137.040039,3290940000
2023-04-25,4126.430176,4126.430176,4071.379883,4071.629883,4071.629883,3978640000
2023-04-26,4087.780029,4089.669922,4049.350098,4055.989990,4055.989990,3837030000
2023-04-27,4075.290039,4138.240234,4075.290039,4135.350098,4135.350098,3750550000
2023-04-28,4129.629883,4170.060059,4127.180176,4169.479980,4169.479980,4087800000

In [ ]:
data["daily_returns"] = data["Close"].pct_change()
data["daily_returns"]

Date
2010-01-04         NaN
2010-01-05    0.003116
2010-01-06    0.000546
2010-01-07    0.004001
2010-01-08    0.002882
                ...
2023-04-24    0.000852
2023-04-25   -0.015811
2023-04-26   -0.003841
2023-04-27    0.019566
2023-04-28    0.008253
Name: daily_returns, Length: 3353, dtype: float64

In [ ]:
data["Cumulative Returns"] = (data["Close"] - data["Close"].iloc[0]) / data["Close"]
data["Cumulative Returns"]

Date
2010-01-04    0.000000
2010-01-05    0.003106
2010-01-06    0.003650
2010-01-07    0.007620
2010-01-08    0.010472
                ...
2023-04-24    0.726135
2023-04-25    0.721736
2023-04-26    0.720663
2023-04-27    0.726023
2023-04-28    0.728266
Name: Cumulative Returns, Length: 3353, dtype: float64

In [ ]:
data["Rolling Max"] = data["Close"].cummax()
data["Drawdown"] = (data["Rolling Max"] - data["Close"]) / data["Rolling Max"]

In [ ]:
risk_free_rate = 0.0  # Assuming risk-free rate of return
data["Excess Returns"] = data["daily_returns"] - risk_free_rate
sharpe_ratio = (data["Excess Returns"].mean() / data["Excess Returns"].std()) * (252 ** 0.5)

In [ ]:
downside_returns = data[data["daily_returns"] < 0]["daily_returns"]
downside_std = downside_returns.std()
sortino_ratio = (data["Excess Returns"].mean() / downside_std) * (252 ** 0.5)

In [ ]:
print("Sharpe Ratio:", sharpe_ratio)
print("Sortino Ratio:", sortino_ratio)
print("Max Drawdown:", data["Drawdown"].max())

Sharpe Ratio: 0.6407634304606435
Sortino Ratio: 0.7844535881965932
Max Drawdown: 0.3392496000265327

In [ ]:
volatility = data["daily_returns"].std()
annualized_volatility=volatility*(252**0.5)
annualized_volatility

0.1776071235545577

Index 2 -FTSE 100

In [ ]:
data = yf.download("^FTSE", start="2010-01-01" ,end="2023-05-01") 
data

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-01-04,5412.899902,5500.299805,5410.799805,5500.299805,5500.299805,750942000
2010-01-05,5500.299805,5536.399902,5480.700195,5522.500000,5522.500000,1149301200
2010-01-06,5522.500000,5536.500000,5497.700195,5530.000000,5530.000000,998295300
2010-01-07,5530.000000,5551.700195,5499.799805,5526.700195,5526.700195,1162933700
2010-01-08,5526.700195,5549.299805,5494.799805,5534.200195,5534.200195,1006420600
...,...,...,...,...,...,...
2023-04-24,7914.100098,7927.100098,7877.600098,7912.200195,7912.200195,724845900
2023-04-25,7912.200195,7912.500000,7863.899902,7891.100098,7891.100098,657900800
2023-04-26,7891.100098,7894.000000,7825.899902,7852.600098,7852.600098,902747300
2023-04-27,7852.600098,7865.700195,7816.799805,7831.600098,7831.600098,669734300
2023-04-28,7831.600098,7870.600098,7791.600098,7870.600098,7870.600098,945273500

In [ ]:
data["daily_returns"] = data["Close"].pct_change()
data["daily_returns"]

Date
2010-01-04         NaN
2010-01-05    0.004036
2010-01-06    0.001358
2010-01-07   -0.000597
2010-01-08    0.001357
                ...
2023-04-24   -0.000240
2023-04-25   -0.002667
2023-04-26   -0.004879
2023-04-27   -0.002674
2023-04-28    0.004980
Name: daily_returns, Length: 3363, dtype: float64

In [ ]:
data["Cumulative Returns"] = (data["Close"] - data["Close"].iloc[0]) / data["Close"]
data["Cumulative Returns"]

Date
2010-01-04    0.000000
2010-01-05    0.004020
2010-01-06    0.005371
2010-01-07    0.004777
2010-01-08    0.006126
                ...
2023-04-24    0.304833
2023-04-25    0.302974
2023-04-26    0.299557
2023-04-27    0.297679
2023-04-28    0.301159
Name: Cumulative Returns, Length: 3363, dtype: float64

In [ ]:
data["Rolling Max"] = data["Close"].cummax()
data["Drawdown"] = (data["Rolling Max"] - data["Close"]) / data["Rolling Max"]

In [ ]:
risk_free_rate = 0.0  # Assuming risk-free rate of return
data["Excess Returns"] = data["daily_returns"] - risk_free_rate
sharpe_ratio = (data["Excess Returns"].mean() / data["Excess Returns"].std()) * (252 ** 0.5)

In [ ]:
downside_returns = data[data["daily_returns"] < 0]["daily_returns"]
downside_std = downside_returns.std()
sortino_ratio = (data["Excess Returns"].mean() / downside_std) * (252 ** 0.5)

In [ ]:
print("Sharpe Ratio:", sharpe_ratio)
print("Sortino Ratio:", sortino_ratio)
print("Max Drawdown:", data["Drawdown"].max())

Sharpe Ratio: 0.2468203015103944
Sortino Ratio: 0.31877956792946915
Max Drawdown: 0.3660552329617582

In [ ]:
volatility = data["daily_returns"].std()
annualized_volatility=volatility*(252**0.5)
annualized_volatility

0.16251517394788506

Index 3-Nikkei 225

In [ ]:
data = yf.download("^N225", start="2010-01-01" ,end="2023-05-01") 
data

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-01-04,10609.339844,10694.490234,10608.139648,10654.790039,10654.790039,104400000
2010-01-05,10719.440430,10791.040039,10655.570312,10681.830078,10681.830078,166200000
2010-01-06,10709.549805,10768.610352,10661.169922,10731.450195,10731.450195,181800000
2010-01-07,10742.750000,10774.000000,10636.669922,10681.660156,10681.660156,182600000
2010-01-08,10743.299805,10816.450195,10677.559570,10798.320312,10798.320312,211800000
...,...,...,...,...,...,...
2023-04-24,28631.779297,28680.650391,28567.240234,28593.519531,28593.519531,50000000
2023-04-25,28697.730469,28806.689453,28609.769531,28620.070312,28620.070312,59300000
2023-04-26,28478.519531,28551.609375,28319.769531,28416.470703,28416.470703,68700000
2023-04-27,28340.589844,28459.730469,28241.669922,28457.679688,28457.679688,73600000
2023-04-28,28705.910156,28879.240234,28499.509766,28856.439453,28856.439453,104000000

In [ ]:
data["daily_returns"] = data["Close"].pct_change()
data["daily_returns"]

Date
2010-01-04         NaN
2010-01-05    0.002538
2010-01-06    0.004645
2010-01-07   -0.004640
2010-01-08    0.010922
                ...
2023-04-24    0.001021
2023-04-25    0.000929
2023-04-26   -0.007114
2023-04-27    0.001450
2023-04-28    0.014012
Name: daily_returns, Length: 3259, dtype: float64

In [ ]:
data["Cumulative Returns"] = (data["Close"] - data["Close"].iloc[0]) / data["Close"]
data["Cumulative Returns"]

Date
2010-01-04    0.000000
2010-01-05    0.002531
2010-01-06    0.007144
2010-01-07    0.002516
2010-01-08    0.013292
                ...
2023-04-24    0.627370
2023-04-25    0.627716
2023-04-26    0.625049
2023-04-27    0.625592
2023-04-28    0.630766
Name: Cumulative Returns, Length: 3259, dtype: float64

In [ ]:
data["Rolling Max"] = data["Close"].cummax()
data["Drawdown"] = (data["Rolling Max"] - data["Close"]) / data["Rolling Max"]

In [ ]:
risk_free_rate = 0.0  # Assuming risk-free rate of return
data["Excess Returns"] = data["daily_returns"] - risk_free_rate
sharpe_ratio = (data["Excess Returns"].mean() / data["Excess Returns"].std()) * (252 ** 0.5)

In [ ]:
downside_returns = data[data["daily_returns"] < 0]["daily_returns"]
downside_std = downside_returns.std()
sortino_ratio = (data["Excess Returns"].mean() / downside_std) * (252 ** 0.5)

In [ ]:
print("Sharpe Ratio:", sharpe_ratio)
print("Sortino Ratio:", sortino_ratio)
print("Max Drawdown:", data["Drawdown"].max())

Sharpe Ratio: 0.47444285113044027
Sortino Ratio: 0.6473772466817252
Max Drawdown: 0.3179889650850191

In [ ]:
volatility = data["daily_returns"].std()
annualized_volatility=volatility*(252**0.5)
annualized_volatility

0.20827710311813896

Index 4 -DAX

In [ ]:
data = yf.download("^GDAXI", start="2010-01-01" ,end="2023-05-01") 
data

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-01-04,5975.520020,6048.299805,5974.430176,6048.299805,6048.299805,104344400
2010-01-05,6043.939941,6058.020020,6015.669922,6031.859863,6031.859863,117572100
2010-01-06,6032.390137,6047.569824,5997.089844,6034.330078,6034.330078,108742400
2010-01-07,6016.799805,6037.569824,5961.250000,6019.359863,6019.359863,133704300
2010-01-08,6028.620117,6053.040039,5972.240234,6037.609863,6037.609863,126099000
...,...,...,...,...,...,...
2023-04-24,15852.269531,15919.110352,15831.099609,15863.950195,15863.950195,50552200
2023-04-25,15836.790039,15891.730469,15794.809570,15872.129883,15872.129883,66489300
2023-04-26,15804.500000,15826.019531,15694.360352,15795.730469,15795.730469,74374600
2023-04-27,15739.349609,15859.250000,15706.690430,15800.450195,15800.450195,79622200
2023-04-28,15884.790039,15922.379883,15688.169922,15922.379883,15922.379883,91511200

In [ ]:
data["daily_returns"] = data["Close"].pct_change()
data["daily_returns"]

Date
2010-01-04         NaN
2010-01-05   -0.002718
2010-01-06    0.000410
2010-01-07   -0.002481
2010-01-08    0.003032
                ...
2023-04-24   -0.001115
2023-04-25    0.000516
2023-04-26   -0.004813
2023-04-27    0.000299
2023-04-28    0.007717
Name: daily_returns, Length: 3380, dtype: float64

In [ ]:
data["Cumulative Returns"] = (data["Close"] - data["Close"].iloc[0]) / data["Close"]
data["Cumulative Returns"]

Date
2010-01-04    0.000000
2010-01-05   -0.002726
2010-01-06   -0.002315
2010-01-07   -0.004808
2010-01-08   -0.001771
                ...
2023-04-24    0.618739
2023-04-25    0.618936
2023-04-26    0.617093
2023-04-27    0.617207
2023-04-28    0.620138
Name: Cumulative Returns, Length: 3380, dtype: float64

In [ ]:
data["Rolling Max"] = data["Close"].cummax()
data["Drawdown"] = (data["Rolling Max"] - data["Close"]) / data["Rolling Max"]

In [ ]:
risk_free_rate = 0.0  # Assuming risk-free rate of return
data["Excess Returns"] = data["daily_returns"] - risk_free_rate
sharpe_ratio = (data["Excess Returns"].mean() / data["Excess Returns"].std()) * (252 ** 0.5)

In [ ]:
downside_returns = data[data["daily_returns"] < 0]["daily_returns"]
downside_std = downside_returns.std()
sortino_ratio = (data["Excess Returns"].mean() / downside_std) * (252 ** 0.5)

In [ ]:
print("Sharpe Ratio:", sharpe_ratio)
print("Sortino Ratio:", sortino_ratio)
print("Max Drawdown:", data["Drawdown"].max())

Sharpe Ratio: 0.45793423805973765
Sortino Ratio: 0.600302082787435
Max Drawdown: 0.38779389651624485

In [ ]:
volatility = data["daily_returns"].std()
annualized_volatility=volatility*(252**0.5)
annualized_volatility

0.20259529349836683

Index 5 - Hang Seng Index

In [ ]:
data = yf.download("^HSI", start="2010-01-01" ,end="2023-05-01") 
data

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-01-04,21860.039062,22024.830078,21689.220703,21823.279297,21823.279297,1006199600
2010-01-05,22092.150391,22297.039062,21987.269531,22279.580078,22279.580078,1965584800
2010-01-06,22357.460938,22514.789062,22277.130859,22416.669922,22416.669922,2100234000
2010-01-07,22548.029297,22548.029297,22169.609375,22269.449219,22269.449219,1495365300
2010-01-08,22282.750000,22443.220703,22206.160156,22296.750000,22296.750000,1626022600
...,...,...,...,...,...,...
2023-04-24,20049.869141,20146.369141,19734.679688,19959.939453,19959.939453,2247902000
2023-04-25,19903.529297,19910.279297,19527.630859,19617.880859,19617.880859,2196274500
2023-04-26,19520.970703,19903.730469,19520.970703,19757.269531,19757.269531,1941042600
2023-04-27,19736.349609,19880.289062,19662.599609,19840.279297,19840.279297,2150454000
2023-04-28,19936.019531,20167.880859,19879.070312,19894.570312,19894.570312,2574855500

In [ ]:
data["daily_returns"] = data["Close"].pct_change()
data["daily_returns"]

Date
2010-01-04         NaN
2010-01-05    0.020909
2010-01-06    0.006153
2010-01-07   -0.006567
2010-01-08    0.001226
                ...
2023-04-24   -0.005768
2023-04-25   -0.017137
2023-04-26    0.007105
2023-04-27    0.004201
2023-04-28    0.002736
Name: daily_returns, Length: 3281, dtype: float64

In [ ]:
data["Cumulative Returns"] = (data["Close"] - data["Close"].iloc[0]) / data["Close"]
data["Cumulative Returns"]

Date
2010-01-04    0.000000
2010-01-05    0.020481
2010-01-06    0.026471
2010-01-07    0.020035
2010-01-08    0.021235
                ...
2023-04-24   -0.093354
2023-04-25   -0.112418
2023-04-26   -0.104570
2023-04-27   -0.099948
2023-04-28   -0.096947
Name: Cumulative Returns, Length: 3281, dtype: float64

In [ ]:
data["Rolling Max"] = data["Close"].cummax()
data["Drawdown"] = (data["Rolling Max"] - data["Close"]) / data["Rolling Max"]

In [ ]:
risk_free_rate = 0.0  # Assuming risk-free rate of return
data["Excess Returns"] = data["daily_returns"] - risk_free_rate
sharpe_ratio = (data["Excess Returns"].mean() / data["Excess Returns"].std()) * (252 ** 0.5)

In [ ]:
downside_returns = data[data["daily_returns"] < 0]["daily_returns"]
downside_std = downside_returns.std()
sortino_ratio = (data["Excess Returns"].mean() / downside_std) * (252 ** 0.5)

In [ ]:
print("Sharpe Ratio:", sharpe_ratio)
print("Sortino Ratio:", sortino_ratio)
print("Max Drawdown:", data["Drawdown"].max())

Sharpe Ratio: 0.06581845571535926
Sortino Ratio: 0.09433835709605538
Max Drawdown: 0.5570077249305003

In [ ]:
volatility = data["daily_returns"].std()
annualized_volatility=volatility*(252**0.5)
annualized_volatility

0.20207910000938045

Equity1 - Apple Inc

In [ ]:
data = yf.download("AAPL", start="2010-01-01" ,end="2023-05-01")

[*********************100%***********************]  1 of 1 completed

In [ ]:
data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-01-04,7.622500,7.660714,7.585000,7.643214,6.496294,493729600
2010-01-05,7.664286,7.699643,7.616071,7.656429,6.507526,601904800
2010-01-06,7.656429,7.686786,7.526786,7.534643,6.404014,552160000
2010-01-07,7.562500,7.571429,7.466071,7.520714,6.392176,477131200
2010-01-08,7.510714,7.571429,7.466429,7.570714,6.434675,447610800
...,...,...,...,...,...,...
2023-04-24,165.000000,165.600006,163.889999,165.330002,165.101639,41949600
2023-04-25,165.190002,166.309998,163.729996,163.770004,163.543793,48714100
2023-04-26,163.059998,165.279999,162.800003,163.759995,163.533798,45498800
2023-04-27,165.190002,168.559998,165.190002,168.410004,168.177383,64902300
2023-04-28,168.490005,169.850006,167.880005,169.679993,169.445618,55209200

In [ ]:
data["daily_returns"] = data["Close"].pct_change()
data["daily_returns"]

Date
2010-01-04         NaN
2010-01-05    0.001729
2010-01-06   -0.015906
2010-01-07   -0.001849
2010-01-08    0.006648
                ...
2023-04-24    0.001879
2023-04-25   -0.009436
2023-04-26   -0.000061
2023-04-27    0.028395
2023-04-28    0.007541
Name: daily_returns, Length: 3353, dtype: float64

In [ ]:
data["Cumulative Returns"] = (data["Close"] - data["Close"].iloc[0]) / data["Close"]
data["Cumulative Returns"]

Date
2010-01-04    0.000000
2010-01-05    0.001726
2010-01-06   -0.014410
2010-01-07   -0.016288
2010-01-08   -0.009576
                ...
2023-04-24    0.953770
2023-04-25    0.953330
2023-04-26    0.953327
2023-04-27    0.954615
2023-04-28    0.954955
Name: Cumulative Returns, Length: 3353, dtype: float64

In [ ]:
data["Rolling Max"] = data["Close"].cummax()
data["Drawdown"] = (data["Rolling Max"] - data["Close"]) / data["Rolling Max"]

In [ ]:
risk_free_rate = 0.0  # Assuming risk-free rate of return
data["Excess Returns"] = data["daily_returns"] - risk_free_rate
sharpe_ratio = (data["Excess Returns"].mean() / data["Excess Returns"].std()) * (252 ** 0.5)

In [ ]:
downside_returns = data[data["daily_returns"] < 0]["daily_returns"]
downside_std = downside_returns.std()
sortino_ratio = (data["Excess Returns"].mean() / downside_std) * (252 ** 0.5)

In [ ]:
print("Sharpe Ratio:", sharpe_ratio)
print("Sortino Ratio:", sortino_ratio)
print("Max Drawdown:", data["Drawdown"].max())

Sharpe Ratio: 0.9579760853312563
Sortino Ratio: 1.340108820409712
Max Drawdown: 0.4437687017144154

In [ ]:
volatility = data["daily_returns"].std()
annualized_volatility=volatility*(252**0.5)
annualized_volatility

0.28615967782170726

# Equity2 - Amazon.com Inc

In [ ]:
data = yf.download("AMZN", start="2010-01-01" ,end="2023-05-01") 
data

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-01-04,6.812500,6.830500,6.657000,6.695000,6.695000,151998000
2010-01-05,6.671500,6.774000,6.590500,6.734500,6.734500,177038000
2010-01-06,6.730000,6.736500,6.582500,6.612500,6.612500,143576000
2010-01-07,6.600500,6.616000,6.440000,6.500000,6.500000,220604000
2010-01-08,6.528000,6.684000,6.451500,6.676000,6.676000,196610000
...,...,...,...,...,...,...
2023-04-24,107.660004,109.230003,105.070000,106.209999,106.209999,69575600
2023-04-25,104.910004,105.449997,102.449997,102.570000,102.570000,65026800
2023-04-26,105.040001,106.620003,104.099998,104.980003,104.980003,73803800
2023-04-27,108.160004,110.860001,106.800003,109.820000,109.820000,149961200
2023-04-28,107.730003,109.480003,104.330002,105.449997,105.449997,130565000

In [ ]:
data["daily_returns"] = data["Close"].pct_change()
data["daily_returns"]

Date
2010-01-04         NaN
2010-01-05    0.005900
2010-01-06   -0.018116
2010-01-07   -0.017013
2010-01-08    0.027077
                ...
2023-04-24   -0.007012
2023-04-25   -0.034272
2023-04-26    0.023496
2023-04-27    0.046104
2023-04-28   -0.039792
Name: daily_returns, Length: 3353, dtype: float64

In [ ]:
data["Cumulative Returns"] = (data["Close"] - data["Close"].iloc[0]) / data["Close"]
data["Cumulative Returns"]

Date
2010-01-04    0.000000
2010-01-05    0.005865
2010-01-06   -0.012476
2010-01-07   -0.030000
2010-01-08   -0.002846
                ...
2023-04-24    0.936965
2023-04-25    0.934728
2023-04-26    0.936226
2023-04-27    0.939037
2023-04-28    0.936510
Name: Cumulative Returns, Length: 3353, dtype: float64

In [ ]:
data["Rolling Max"] = data["Close"].cummax()
data["Drawdown"] = (data["Rolling Max"] - data["Close"]) / data["Rolling Max"]

In [ ]:
risk_free_rate = 0.0  # Assuming risk-free rate of return
data["Excess Returns"] = data["daily_returns"] - risk_free_rate
sharpe_ratio = (data["Excess Returns"].mean() / data["Excess Returns"].std()) * (252 ** 0.5)

In [ ]:
downside_returns = data[data["daily_returns"] < 0]["daily_returns"]
downside_std = downside_returns.std()
sortino_ratio = (data["Excess Returns"].mean() / downside_std) * (252 ** 0.5)

In [ ]:
print("Sharpe Ratio:", sharpe_ratio)
print("Sortino Ratio:", sortino_ratio)
print("Max Drawdown:", data["Drawdown"].max())

Sharpe Ratio: 0.7902636489869485
Sortino Ratio: 1.1284989544839086
Max Drawdown: 0.5614526325328263

In [ ]:
volatility = data["daily_returns"].std()
annualized_volatility=volatility*(252**0.5)
annualized_volatility

0.3317989428965108

# Equity3 -Microsoft Corporation

In [ ]:
data = yf.download("MSFT", start="2010-01-01" ,end="2023-05-01") 
data

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-01-04,30.620001,31.100000,30.590000,30.950001,23.623899,38409100
2010-01-05,30.850000,31.100000,30.639999,30.959999,23.631531,49749600
2010-01-06,30.879999,31.080000,30.520000,30.770000,23.486502,58182400
2010-01-07,30.629999,30.700001,30.190001,30.450001,23.242258,50559700
2010-01-08,30.280001,30.879999,30.240000,30.660000,23.402540,51197400
...,...,...,...,...,...,...
2023-04-24,282.089996,284.950012,278.720001,281.769989,281.769989,26611000
2023-04-25,279.510010,281.600006,275.369995,275.420013,275.420013,45772200
2023-04-26,296.700012,299.570007,292.730011,295.369995,295.369995,64599200
2023-04-27,295.970001,305.200012,295.250000,304.829987,304.829987,46462600
2023-04-28,304.010010,308.929993,303.309998,307.260010,307.260010,36446700

In [ ]:
data["daily_returns"] = data["Close"].pct_change()
data["daily_returns"]

Date
2010-01-04         NaN
2010-01-05    0.000323
2010-01-06   -0.006137
2010-01-07   -0.010400
2010-01-08    0.006897
                ...
2023-04-24   -0.013963
2023-04-25   -0.022536
2023-04-26    0.072435
2023-04-27    0.032028
2023-04-28    0.007972
Name: daily_returns, Length: 3353, dtype: float64

In [ ]:
data["Cumulative Returns"] = (data["Close"] - data["Close"].iloc[0]) / data["Close"]
data["Cumulative Returns"]

Date
2010-01-04    0.000000
2010-01-05    0.000323
2010-01-06   -0.005850
2010-01-07   -0.016420
2010-01-08   -0.009459
                ...
2023-04-24    0.890159
2023-04-25    0.887626
2023-04-26    0.895216
2023-04-27    0.898468
2023-04-28    0.899271
Name: Cumulative Returns, Length: 3353, dtype: float64

In [ ]:
data["Rolling Max"] = data["Close"].cummax()
data["Drawdown"] = (data["Rolling Max"] - data["Close"]) / data["Rolling Max"]

In [ ]:
risk_free_rate = 0.0  # Assuming risk-free rate of return
data["Excess Returns"] = data["daily_returns"] - risk_free_rate
sharpe_ratio = (data["Excess Returns"].mean() / data["Excess Returns"].std()) * (252 ** 0.5)

In [ ]:
downside_returns = data[data["daily_returns"] < 0]["daily_returns"]
downside_std = downside_returns.std()
sortino_ratio = (data["Excess Returns"].mean() / downside_std) * (252 ** 0.5)

In [ ]:
print("Sharpe Ratio:", sharpe_ratio)
print("Sortino Ratio:", sortino_ratio)
print("Max Drawdown:", data["Drawdown"].max())

Sharpe Ratio: 0.790447018897123
Sortino Ratio: 1.1068365902917414
Max Drawdown: 0.37556466105038605

In [ ]:
volatility = data["daily_returns"].std()
annualized_volatility=volatility*(252**0.5)
annualized_volatility

0.2616767875604266

# Equity4 - Google

In [ ]:
data = yf.download("GOOGL", start="2010-01-01" ,end="2023-05-01") 
data

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-01-04,15.689439,15.753504,15.621622,15.684434,15.684434,78169752
2010-01-05,15.695195,15.711712,15.554054,15.615365,15.615365,120067812
2010-01-06,15.662162,15.662162,15.174174,15.221722,15.221722,158988852
2010-01-07,15.250250,15.265265,14.831081,14.867367,14.867367,256315428
2010-01-08,14.814815,15.096346,14.742492,15.065566,15.065566,188783028
...,...,...,...,...,...,...
2023-04-24,105.489998,106.629997,104.699997,105.970001,105.970001,23542800
2023-04-25,105.830002,106.690002,103.839996,103.849998,103.849998,46664100
2023-04-26,104.919998,106.349998,102.629997,103.709999,103.709999,53347600
2023-04-27,104.449997,108.370003,103.540001,107.589996,107.589996,50089200
2023-04-28,107.040001,107.349998,105.089996,107.339996,107.339996,36139800

In [ ]:
data["daily_returns"] = data["Close"].pct_change()
data["daily_returns"]

Date
2010-01-04         NaN
2010-01-05   -0.004404
2010-01-06   -0.025209
2010-01-07   -0.023280
2010-01-08    0.013331
                ...
2023-04-24    0.005313
2023-04-25   -0.020006
2023-04-26   -0.001348
2023-04-27    0.037412
2023-04-28   -0.002324
Name: daily_returns, Length: 3353, dtype: float64

In [ ]:
data["Cumulative Returns"] = (data["Close"] - data["Close"].iloc[0]) / data["Close"]
data["Cumulative Returns"]

Date
2010-01-04    0.000000
2010-01-05   -0.004423
2010-01-06   -0.030398
2010-01-07   -0.054957
2010-01-08   -0.041078
                ...
2023-04-24    0.851992
2023-04-25    0.848970
2023-04-26    0.848766
2023-04-27    0.854220
2023-04-28    0.853881
Name: Cumulative Returns, Length: 3353, dtype: float64

In [ ]:
data["Rolling Max"] = data["Close"].cummax()
data["Drawdown"] = (data["Rolling Max"] - data["Close"]) / data["Rolling Max"]

In [ ]:
risk_free_rate = 0.0  # Assuming risk-free rate of return
data["Excess Returns"] = data["daily_returns"] - risk_free_rate
sharpe_ratio = (data["Excess Returns"].mean() / data["Excess Returns"].std()) * (252 ** 0.5)

In [ ]:
downside_returns = data[data["daily_returns"] < 0]["daily_returns"]
downside_std = downside_returns.std()
sortino_ratio = (data["Excess Returns"].mean() / downside_std) * (252 ** 0.5)

In [ ]:
print("Sharpe Ratio:", sharpe_ratio)
print("Sortino Ratio:", sortino_ratio)
print("Max Drawdown:", data["Drawdown"].max())

Sharpe Ratio: 0.6657471347330978
Sortino Ratio: 0.9299480203497368
Max Drawdown: 0.4432005141440532

In [ ]:
volatility = data["daily_returns"].std()
annualized_volatility=volatility*(252**0.5)
annualized_volatility

0.2729762706976209

# Equity5 -Netflix

In [ ]:
data = yf.download("NFLX", start="2010-01-01" ,end="2023-05-01") 
data

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-01-04,7.931429,7.961429,7.565714,7.640000,7.640000,17239600
2010-01-05,7.652857,7.657143,7.258571,7.358571,7.358571,23753100
2010-01-06,7.361429,7.672857,7.197143,7.617143,7.617143,23290400
2010-01-07,7.731429,7.757143,7.462857,7.485714,7.485714,9955400
2010-01-08,7.498571,7.742857,7.465714,7.614286,7.614286,8180900
...,...,...,...,...,...,...
2023-04-24,330.200012,334.660004,326.750000,329.019989,329.019989,5586600
2023-04-25,328.500000,328.660004,321.100006,322.549988,322.549988,5426600
2023-04-26,321.359985,325.899994,320.470001,321.149994,321.149994,4623200
2023-04-27,324.299988,327.450012,317.440002,325.850006,325.850006,5618800
2023-04-28,325.239990,330.809998,324.000000,329.929993,329.929993,4221900

In [ ]:
data["daily_returns"] = data["Close"].pct_change()
data["daily_returns"]

Date
2010-01-04         NaN
2010-01-05   -0.036836
2010-01-06    0.035139
2010-01-07   -0.017254
2010-01-08    0.017176
                ...
2023-04-24    0.003171
2023-04-25   -0.019664
2023-04-26   -0.004340
2023-04-27    0.014635
2023-04-28    0.012521
Name: daily_returns, Length: 3353, dtype: float64

In [ ]:
data["Cumulative Returns"] = (data["Close"] - data["Close"].iloc[0]) / data["Close"]
data["Cumulative Returns"]

Date
2010-01-04    0.000000
2010-01-05   -0.038245
2010-01-06   -0.003001
2010-01-07   -0.020611
2010-01-08   -0.003377
                ...
2023-04-24    0.976780
2023-04-25    0.976314
2023-04-26    0.976210
2023-04-27    0.976554
2023-04-28    0.976844
Name: Cumulative Returns, Length: 3353, dtype: float64

In [ ]:
data["Rolling Max"] = data["Close"].cummax()
data["Drawdown"] = (data["Rolling Max"] - data["Close"]) / data["Rolling Max"]

In [ ]:
risk_free_rate = 0.0  # Assuming risk-free rate of return
data["Excess Returns"] = data["daily_returns"] - risk_free_rate
sharpe_ratio = (data["Excess Returns"].mean() / data["Excess Returns"].std()) * (252 ** 0.5)

In [ ]:
downside_returns = data[data["daily_returns"] < 0]["daily_returns"]
downside_std = downside_returns.std()
sortino_ratio = (data["Excess Returns"].mean() / downside_std) * (252 ** 0.5)

In [ ]:
print("Sharpe Ratio:", sharpe_ratio)
print("Sortino Ratio:", sortino_ratio)
print("Max Drawdown:", data["Drawdown"].max())

Sharpe Ratio: 0.8074094207709147
Sortino Ratio: 1.1161053510639454
Max Drawdown: 0.8199042663290899

In [ ]:
volatility = data["daily_returns"].std()
annualized_volatility=volatility*(252**0.5)
annualized_volatility

0.5173219819600162