In [1]:
import yfinance as yf
import pandas as pd
from math import sqrt
import numpy as np
import datetime
from datetime import date

In [2]:
Indices=pd.DataFrame(index=["Cumulative Returns","Volatility","Sharpe ratio","Sortino ratio","MDD"],columns=["^GSPC","^DJI","^IXIC","OSK.F","LSEG.L"])
Indices

                   ^GSPC ^DJI ^IXIC OSK.F LSEG.L
Cumulative Returns   NaN  NaN   NaN   NaN    NaN
Volatility           NaN  NaN   NaN   NaN    NaN
Sharpe ratio         NaN  NaN   NaN   NaN    NaN
Sortino ratio        NaN  NaN   NaN   NaN    NaN
MDD                  NaN  NaN   NaN   NaN    NaN

In [3]:
Equities=pd.DataFrame(index=["Cumulative Returns","Volatility","Sharpe ratio","Sortino ratio","MDD"],columns=["AAPL","NFLX","TSLA","MSFT","AMZN"])
Equities

                   AAPL NFLX TSLA MSFT AMZN
Cumulative Returns  NaN  NaN  NaN  NaN  NaN
Volatility          NaN  NaN  NaN  NaN  NaN
Sharpe ratio        NaN  NaN  NaN  NaN  NaN
Sortino ratio       NaN  NaN  NaN  NaN  NaN
MDD                 NaN  NaN  NaN  NaN  NaN

In [4]:
gspc=yf.download("^GSPC",start="2010-01-01",end="2023-05-01")

[*********************100%***********************]  1 of 1 completed

In [5]:
gspc

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-01-04,1116.560059,1133.869995,1116.560059,1132.989990,1132.989990,3991400000
2010-01-05,1132.660034,1136.630005,1129.660034,1136.520020,1136.520020,2491020000
2010-01-06,1135.709961,1139.189941,1133.949951,1137.140015,1137.140015,4972660000
2010-01-07,1136.270020,1142.459961,1131.319946,1141.689941,1141.689941,5270680000
2010-01-08,1140.520020,1145.390015,1136.219971,1144.979980,1144.979980,4389590000
...,...,...,...,...,...,...
2023-04-24,4132.069824,4142.410156,4117.770020,4137.040039,4137.040039,3290940000
2023-04-25,4126.430176,4126.430176,4071.379883,4071.629883,4071.629883,3978640000
2023-04-26,4087.780029,4089.669922,4049.350098,4055.989990,4055.989990,3837030000
2023-04-27,4075.290039,4138.240234,4075.290039,4135.350098,4135.350098,3750550000
2023-04-28,4129.629883,4170.060059,4127.180176,4169.479980,4169.479980,4087800000

In [6]:
closing_price=gspc["Close"]
opening_price=gspc["Open"]
print(closing_price)
print(opening_price)

Date
2010-01-04    1132.989990
2010-01-05    1136.520020
2010-01-06    1137.140015
2010-01-07    1141.689941
2010-01-08    1144.979980
                 ...
2023-04-24    4137.040039
2023-04-25    4071.629883
2023-04-26    4055.989990
2023-04-27    4135.350098
2023-04-28    4169.479980
Name: Close, Length: 3352, dtype: float64
Date
2010-01-04    1116.560059
2010-01-05    1132.660034
2010-01-06    1135.709961
2010-01-07    1136.270020
2010-01-08    1140.520020
                 ...
2023-04-24    4132.069824
2023-04-25    4126.430176
2023-04-26    4087.780029
2023-04-27    4075.290039
2023-04-28    4129.629883
Name: Open, Length: 3352, dtype: float64

In [7]:
daily_returns=(closing_price-opening_price)/opening_price
print(daily_returns)

Date
2010-01-04    0.014715
2010-01-05    0.003408
2010-01-06    0.001259
2010-01-07    0.004770
2010-01-08    0.003910
                ...
2023-04-24    0.001203
2023-04-25   -0.013280
2023-04-26   -0.007777
2023-04-27    0.014738
2023-04-28    0.009650
Length: 3352, dtype: float64

In [8]:
final_price=gspc.iloc[-1]["Close"]
original_price=gspc.iloc[0]["Open"]

cumulative=(final_price-original_price)/original_price
print(cumulative)

2.734219174667591

In [9]:
std=daily_returns.std()
time_period=gspc.shape[0]
volatility=std*sqrt(time_period)
volatility

0.5421714410252612

In [10]:
rfrate=0.0525

In [11]:
excess=daily_returns-rfrate
sharpe=excess.mean()/excess.std()
sharpe

-5.576065548403583

In [12]:
negative_returns=daily_returns[daily_returns<0]
negative_returns

Date
2010-01-12   -0.006636
2010-01-15   -0.010185
2010-01-20   -0.008633
2010-01-21   -0.019496
2010-01-22   -0.021273
                ...
2023-04-14   -0.000597
2023-04-18   -0.002255
2023-04-20   -0.000167
2023-04-25   -0.013280
2023-04-26   -0.007777
Length: 1539, dtype: float64

In [13]:
sortino=excess.mean()/negative_returns.std()
sortino

-7.043707440168806

In [14]:
peak=closing_price.max()
index=list(np.where(closing_price==peak))
index=index[0][0]

indices=closing_price.index
peak_day=indices[index]

peak_day=peak_day.strftime("%Y-%m-%d")

In [15]:
gspc_later=gspc.loc[peak_day:"2023-04-26",:]
minimum=gspc_later["Close"].min()
Mdd=(minimum-peak)/peak*100
Mdd

-25.4250966192304

In [16]:
for stock in Indices.columns:
    stok=yf.download(stock,start="2010-01-01",end="2023-05-01")
    
    closing_price=stok["Close"]
    opening_price=stok["Open"]
    daily_returns=(closing_price-opening_price)/closing_price

    final_price=stok.iloc[-1]["Close"]
    original_price=stok.iloc[0]["Open"]

    cumulative=(final_price-original_price)/original_price
    Indices.at["Cumulative Returns",stock]=cumulative

    std=daily_returns.std()
    time_period=stok.shape[0]
    volatility=std*sqrt(time_period)
    Indices.at["Volatility",stock]=volatility

    excess=daily_returns-rfrate
    sharpe=excess.mean()/excess.std()

    Indices.at["Sharpe ratio",stock]=sharpe
    
    negative_returns=daily_returns[daily_returns<0]
    sortino=excess.mean()/negative_returns.std()

    Indices.at["Sortino ratio",stock]=sortino

    peak=closing_price.max()
    index=list(np.where(closing_price==peak))
    index=index[0][0]

    indices=closing_price.index
    peak_day=indices[index]

    peak_day=peak_day.strftime("%Y-%m-%d")

    stck_later=stok.loc[peak_day:"2023-04-26",:]
    minimum=stck_later["Close"].min()
    Mdd=(minimum-peak)/peak*100

    Indices.at["MDD",stock]=Mdd

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [17]:
for stock in Equities.columns:
    stok=yf.download(stock,start="2010-01-01",end="2023-05-01")
    
    closing_price=stok["Close"]
    opening_price=stok["Open"]
    daily_returns=(closing_price-opening_price)/closing_price

    final_price=stok.iloc[-1]["Close"]
    original_price=stok.iloc[0]["Open"]

    cumulative_price=(final_price-original_price)/original_price
    Equities.at["Cumulative Returns",stock]=cumulative_price

    std=daily_returns.std()
    time_period=stok.shape[0]
    volatility=std*sqrt(time_period)
    Equities.at["Volatility",stock]=volatility

    excess=daily_returns-rfrate
    sharpe_ratio=excess.mean()/excess.std()

    Equities.at["Sharpe ratio",stock]=sharpe_ratio
    
    negative_returns=daily_returns[daily_returns<0]
    sortino_ratio=excess.mean()/negative_returns.std()

    Equities.at["Sortino ratio",stock]=sortino_ratio

    peak=closing_price.max()
    index=list(np.where(closing_price==peak))
    index=index[0][0]

    indices=closing_price.index
    peak_day=indices[index]

    peak_day=peak_day.strftime("%Y-%m-%d")

    stck_later=stok.loc[peak_day:"2023-04-26",:]
    minimum=stck_later["Close"].min()
    Mdd=(minimum-peak)/peak*100

    Equities.at["MDD",stock]=Mdd

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [18]:
Indices

                        ^GSPC       ^DJI     ^IXIC     OSK.F     LSEG.L
Cumulative Returns   2.734219   2.269022  4.328856  1.855613  11.627808
Volatility           0.544161     0.5299  0.586643  0.379584   0.880317
Sharpe ratio        -5.565048  -5.713795 -5.167094 -7.009034   -3.45116
Sortino ratio       -6.837958  -7.124817 -6.616088 -6.955561  -4.888358
MDD                -25.425097 -21.940804 -36.39528 -47.47899 -35.721493

In [19]:
Equities

                         AAPL       NFLX        TSLA       MSFT       AMZN
Cumulative Returns  21.260412    40.5978  128.718384   9.034618  14.478899
Volatility           0.811796   1.402817    1.699291    0.73273   0.951726
Sharpe ratio        -3.732596  -2.153259   -1.778332    -4.1272  -3.199914
Sortino ratio       -5.307824  -3.200567   -2.402048   -5.75286  -4.612498
MDD                -31.311466 -75.947318  -73.632217 -37.556466 -56.145263