In [63]:
import yfinance as yf
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import datetime
from math import sqrt
from datetime import date

In [64]:
Index=pd.DataFrame(index=["Cumulative Returns","Volatility","Sharpe ratio","Sortino ratio","MDD"],columns=["^GSPC","^IXIC","^NYA","^DJI","^XAX"])
Index

                   ^GSPC ^IXIC ^NYA ^DJI ^XAX
Cumulative Returns   NaN   NaN  NaN  NaN  NaN
Volatility           NaN   NaN  NaN  NaN  NaN
Sharpe ratio         NaN   NaN  NaN  NaN  NaN
Sortino ratio        NaN   NaN  NaN  NaN  NaN
MDD                  NaN   NaN  NaN  NaN  NaN

In [65]:
Equity=pd.DataFrame(index=["Cumulative Returns","Volatility","Sharpe ratio","Sortino ratio","MDD"],columns=["AAPL","NVDA","AMD","MSFT","AMZN"])
Equity

                   AAPL NVDA  AMD MSFT AMZN
Cumulative Returns  NaN  NaN  NaN  NaN  NaN
Volatility          NaN  NaN  NaN  NaN  NaN
Sharpe ratio        NaN  NaN  NaN  NaN  NaN
Sortino ratio       NaN  NaN  NaN  NaN  NaN
MDD                 NaN  NaN  NaN  NaN  NaN

In [66]:
gspc=yf.download("^GSPC",start="2010-01-01",end="2023-05-01")

[*********************100%***********************]  1 of 1 completed

In [67]:
gspc

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-01-04,1116.560059,1133.869995,1116.560059,1132.989990,1132.989990,3991400000
2010-01-05,1132.660034,1136.630005,1129.660034,1136.520020,1136.520020,2491020000
2010-01-06,1135.709961,1139.189941,1133.949951,1137.140015,1137.140015,4972660000
2010-01-07,1136.270020,1142.459961,1131.319946,1141.689941,1141.689941,5270680000
2010-01-08,1140.520020,1145.390015,1136.219971,1144.979980,1144.979980,4389590000
...,...,...,...,...,...,...
2023-04-24,4132.069824,4142.410156,4117.770020,4137.040039,4137.040039,3290940000
2023-04-25,4126.430176,4126.430176,4071.379883,4071.629883,4071.629883,3978640000
2023-04-26,4087.780029,4089.669922,4049.350098,4055.989990,4055.989990,3837030000
2023-04-27,4075.290039,4138.240234,4075.290039,4135.350098,4135.350098,3750550000
2023-04-28,4129.629883,4170.060059,4127.180176,4169.479980,4169.479980,4087800000

In [68]:
close_pri=gspc["Close"]
open_pri=gspc["Open"]
print(close_pri)
print(open_pri)

Date
2010-01-04    1132.989990
2010-01-05    1136.520020
2010-01-06    1137.140015
2010-01-07    1141.689941
2010-01-08    1144.979980
                 ...
2023-04-24    4137.040039
2023-04-25    4071.629883
2023-04-26    4055.989990
2023-04-27    4135.350098
2023-04-28    4169.479980
Name: Close, Length: 3352, dtype: float64
Date
2010-01-04    1116.560059
2010-01-05    1132.660034
2010-01-06    1135.709961
2010-01-07    1136.270020
2010-01-08    1140.520020
                 ...
2023-04-24    4132.069824
2023-04-25    4126.430176
2023-04-26    4087.780029
2023-04-27    4075.290039
2023-04-28    4129.629883
Name: Open, Length: 3352, dtype: float64

In [69]:
daily_return = (close_pri - open_pri)/open_pri
daily_return

Date
2010-01-04    0.014715
2010-01-05    0.003408
2010-01-06    0.001259
2010-01-07    0.004770
2010-01-08    0.003910
                ...
2023-04-24    0.001203
2023-04-25   -0.013280
2023-04-26   -0.007777
2023-04-27    0.014738
2023-04-28    0.009650
Length: 3352, dtype: float64

In [70]:
final_pri=gspc.iloc[-1]["Close"]
original_pri=gspc.iloc[0]["Open"]

cumulative=(final_pri-original_pri)/original_pri
print(cumulative)

2.734219174667591

In [71]:
std=daily_return.std()
time_period=gspc.shape[0]
volatility=std*sqrt(time_period)
volatility

0.5421714410252612

In [72]:
rfrate = 0.0525

In [73]:
excess_ret=daily_return-rfrate
sharpe_ratio=excess_ret.mean()/excess_ret.std()
sharpe_ratio

-5.576065548403583

In [74]:
negative_ret=daily_return[daily_return<0]
negative_ret

Date
2010-01-12   -0.006636
2010-01-15   -0.010185
2010-01-20   -0.008633
2010-01-21   -0.019496
2010-01-22   -0.021273
                ...
2023-04-14   -0.000597
2023-04-18   -0.002255
2023-04-20   -0.000167
2023-04-25   -0.013280
2023-04-26   -0.007777
Length: 1539, dtype: float64

In [75]:
sortino_ratio=excess_ret.mean()/negative_ret.std()
sortino_ratio

-7.043707440168806

In [76]:
peak=close_pri.max()
ind=list(np.where(close_pri==peak))
ind=ind[0][0]

index=close_pri.index
peak_day=index[ind]

peak_day=peak_day.strftime("%Y-%m-%d")

In [77]:
gspc_later=gspc.loc[peak_day:"2023-04-26",:]
minimum=gspc_later["Close"].min()
Mdd=(minimum-peak)/peak*100
Mdd

-25.4250966192304

In [78]:
for stock in Index.columns:
    stck=yf.download(stock,start="2010-01-01",end="2023-05-01")
    
    close_pri=stck["Close"]
    open_pri=stck["Open"]
    daily_return=(close_pri-open_pri)/close_pri

    final_pri=stck.iloc[-1]["Close"]
    original_pri=stck.iloc[0]["Open"]

    cumulative=(final_pri-original_pri)/original_pri
    Index.at["Cumulative Returns",stock]=cumulative

    std=daily_return.std()
    time_period=stck.shape[0]
    volatility=std*sqrt(time_period)
    Index.at["Volatility",stock]=volatility

    excess_ret=daily_return-rfrate
    sharpe_ratio=excess_ret.mean()/excess_ret.std()

    Index.at["Sharpe ratio",stock]=sharpe_ratio
    
    negative_ret=daily_return[daily_return<0]
    sortino_ratio=excess_ret.mean()/negative_ret.std()

    Index.at["Sortino ratio",stock]=sortino_ratio

    peak=close_pri.max()
    ind=list(np.where(close_pri==peak))
    ind=ind[0][0]

    index=close_pri.index
    peak_day=index[ind]

    peak_day=peak_day.strftime("%Y-%m-%d")

    stck_later=stck.loc[peak_day:"2023-04-26",:]
    minimum=stck_later["Close"].min()
    Mdd=(minimum-peak)/peak*100

    Index.at["MDD",stock]=Mdd

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [79]:
for stock in Equity.columns:
    stck=yf.download(stock,start="2010-01-01",end="2023-05-01")
    
    close_pri=stck["Close"]
    open_pri=stck["Open"]
    daily_return=(close_pri-open_pri)/close_pri

    final_pri=stck.iloc[-1]["Close"]
    original_pri=stck.iloc[0]["Open"]

    cumulative=(final_pri-original_pri)/original_pri
    Equity.at["Cumulative Returns",stock]=cumulative

    std=daily_return.std()
    time_period=stck.shape[0]
    volatility=std*sqrt(time_period)
    Equity.at["Volatility",stock]=volatility

    excess_ret=daily_return-rfrate
    sharpe_ratio=excess_ret.mean()/excess_ret.std()

    Equity.at["Sharpe ratio",stock]=sharpe_ratio
    
    negative_ret=daily_return[daily_return<0]
    sortino_ratio=excess_ret.mean()/negative_ret.std()

    Equity.at["Sortino ratio",stock]=sortino_ratio

    peak=close_pri.max()
    ind=list(np.where(close_pri==peak))
    ind=ind[0][0]

    index=close_pri.index
    peak_day=index[ind]

    peak_day=peak_day.strftime("%Y-%m-%d")

    stck_later=stck.loc[peak_day:"2023-04-26",:]
    minimum=stck_later["Close"].min()
    Mdd=(minimum-peak)/peak*100

    Equity.at["MDD",stock]=Mdd

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [80]:
Index

                        ^GSPC     ^IXIC       ^NYA       ^DJI       ^XAX
Cumulative Returns   2.734219  4.328856   1.163664   2.269022   1.301159
Volatility           0.544161  0.586643    0.57697     0.5299   0.636393
Sharpe ratio        -5.565048 -5.167094   -5.26633  -5.713795  -4.771182
Sortino ratio       -6.837958 -6.616088  -5.923259  -7.124817  -5.907244
MDD                -25.425097 -36.39528 -22.367372 -21.940804 -16.282638

In [81]:
Equity

                         AAPL       NVDA        AMD       MSFT       AMZN
Cumulative Returns  21.260412  58.965421   8.128703   9.034618  14.478899
Volatility           0.811796   1.330912    1.65563    0.73273   0.951726
Sharpe ratio        -3.732596  -2.283077  -1.865179    -4.1272  -3.199914
Sortino ratio       -5.307824  -3.235223  -2.808216   -5.75286  -4.612498
MDD                -31.311466 -66.362059 -65.449943 -37.556466 -56.145263