In [18]:
import yfinance as yf
import pandas as pd
import numpy as np

##########    AAPL    ##########
sd="2010-01-01"
ed="2023-01-17"

df=yf.download('AAPL',start=sd,end=ed)

[*********************100%***********************]  1 of 1 completed

In [35]:
df['daily_rtrn']=df['Close']-df['Open']
mean_rtrn=((df['daily_rtrn'].sum())/252)*100
mean_rtrn

30.597267642853755

In [22]:
std_dev = (df['daily_rtrn'].std()) * np.sqrt(252)
std_dev

18.115193605357113

In [23]:
##############  SHARPE RATIO AAPL ##############

# taking risk free return as 5.25

sharpe_ratio=(mean_rtrn-5.25)/std_dev
sharpe_ratio

1.3992269801277717

In [24]:
############# CUMULATIVE RETURN AAPL ##############

cf=df['daily_rtrn']/df['Open']
(cf.sum())*100

89.82572628176935

In [25]:
############ VOLATILITY ###########

mean=df['daily_rtrn'].mean()
df['dev']=(df['daily_rtrn']-mean)**2
avg_dev=df['dev'].mean()
vol=(avg_dev**.5)*np.sqrt(252)
vol

18.11243277418884

In [26]:
########### SORTINO RATIO ############
# taking risk free rate as 5.52


mask=df['daily_rtrn']<0
filtered_df=df[mask]

downside_deviation = np.std(mask)

sortino_ratio=((mean_rtrn/100)-.0552)/downside_deviation
sortino_ratio

0.50188676720743

In [38]:
#################### MSFT ####################

sd="2010-01-01"
ed="2023-01-17"

df1=yf.download('MSFT',start=sd,end=ed)

[*********************100%***********************]  1 of 1 completed

In [39]:
df1

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-01-04,30.620001,31.100000,30.590000,30.950001,23.572367,38409100
2010-01-05,30.850000,31.100000,30.639999,30.959999,23.579983,49749600
2010-01-06,30.879999,31.080000,30.520000,30.770000,23.435278,58182400
2010-01-07,30.629999,30.700001,30.190001,30.450001,23.191553,50559700
2010-01-08,30.280001,30.879999,30.240000,30.660000,23.351490,51197400
...,...,...,...,...,...,...
2023-01-09,226.449997,231.240005,226.410004,227.119995,226.058365,27369800
2023-01-10,227.759995,231.309998,227.330002,228.850006,227.780289,27033900
2023-01-11,231.289993,235.949997,231.110001,235.770004,234.667953,28669300
2023-01-12,235.259995,239.899994,233.559998,238.509995,237.395126,27269500
2023-01-13,237.000000,239.369995,234.919998,239.229996,238.111755,21333300

In [46]:
df1['daily_rtrn']=df1['Close']-df['Open']
mean_rtrn=((df1['daily_rtrn'].sum())/252)*100
mean_rtrn

63749.37136570612

In [47]:
std_dev = (df1['daily_rtrn'].std()) * np.sqrt(252)
std_dev

676.3957703000968

In [48]:
##############  SHARPE RATIO AAPL ##############

# taking risk free return as 5.25

sharpe_ratio=(mean_rtrn-5.25)/std_dev
sharpe_ratio

94.24086335936835

In [50]:
############# CUMULATIVE RETURN AAPL ##############

cf=df1['daily_rtrn']/df1['Open']
(cf.sum())*100

159305.68636885908

In [51]:
############ VOLATILITY ###########

mean=df1['daily_rtrn'].mean()
df1['dev']=(df1['daily_rtrn']-mean)**2
avg_dev=df1['dev'].mean()
vol=(avg_dev**.5)*np.sqrt(252)
vol

676.2926847595608

In [52]:
########### SORTINO RATIO ############
# taking risk free rate as 5.52


mask=df1['daily_rtrn']<0
filtered_df1=df1[mask]

downside_deviation = np.std(mask)

sortino_ratio=((mean_rtrn/100)-.0552)/downside_deviation
sortino_ratio

C:\Users\91941\AppData\Local\Temp\ipykernel_21924\1430918552.py:10: RuntimeWarning: divide by zero encountered in double_scalars
  sortino_ratio=((mean_rtrn/100)-.0552)/downside_deviation

inf