In [2]:
!pip install yfinance

Requirement already satisfied: yfinance in c:\users\singh\anaconda3\lib\site-packages (0.2.12)
Requirement already satisfied: html5lib>=1.1 in c:\users\singh\anaconda3\lib\site-packages (from yfinance) (1.1)
Requirement already satisfied: appdirs>=1.4.4 in c:\users\singh\anaconda3\lib\site-packages (from yfinance) (1.4.4)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\singh\anaconda3\lib\site-packages (from yfinance) (2.3.5)
Requirement already satisfied: cryptography>=3.3.2 in c:\users\singh\anaconda3\lib\site-packages (from yfinance) (37.0.1)
Requirement already satisfied: pandas>=1.3.0 in c:\users\singh\anaconda3\lib\site-packages (from yfinance) (1.4.4)
Requirement already satisfied: numpy>=1.16.5 in c:\users\singh\anaconda3\lib\site-packages (from yfinance) (1.21.5)
Requirement already satisfied: pytz>=2022.5 in c:\users\singh\anaconda3\lib\site-packages (from yfinance) (2022.7.1)
Requirement already satisfied: requests>=2.26 in c:\users\singh\anaconda3\lib\site-packages (from yfinance) (2.28.1)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\singh\anaconda3\lib\site-packages (from yfinance) (4.11.1)
Requirement already satisfied: lxml>=4.9.1 in c:\users\singh\anaconda3\lib\site-packages (from yfinance) (4.9.1)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\singh\anaconda3\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: soupsieve>1.2 in c:\users\singh\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.3.1)
Requirement already satisfied: cffi>=1.12 in c:\users\singh\anaconda3\lib\site-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: six>=1.9 in c:\users\singh\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in c:\users\singh\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\singh\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\singh\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (1.26.11)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\singh\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\singh\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2022.9.14)
Requirement already satisfied: idna<4,>=2.5 in c:\users\singh\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (3.3)
Requirement already satisfied: pycparser in c:\users\singh\anaconda3\lib\site-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)

In [3]:
import yfinance as yf
import numpy as np
import pandas as pd

In [4]:
Apple = yf.download('AAPL', start='2010-01-01', end='2023-05-01')
Meta = yf.download('META', start='2010-01-01', end='2023-05-01')
Tesla = yf.download('TSLA', start='2010-01-01', end='2023-05-01')
Pfizer = yf.download('PFE', start='2010-01-01', end='2023-05-01')
Sea_Limited = yf.download('SE', start='2010-01-01', end='2023-05-01')
FTSE_100 = yf.download('^FTSE', start='2010-01-01', end='2023-05-01')
Dow_Jones_Industrial_Average = yf.download('^DJI', start='2010-01-01', end='2023-05-01')
NASDAQ_Composite = yf.download('^IXIC', start='2010-01-01', end='2023-05-01')
Russell_2000 = yf.download('RUT', start='2010-01-01', end='2023-05-01')
Nikkei_225 = yf.download('^N225', start='2010-01-01', end='2023-05-01')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

# For Apple Inc.

In [16]:
Apple['Daily Returns'] = Apple['Close'].pct_change()
returns = Apple['Daily Returns'] + 1
cumulative_returns = returns.cumprod()
Apple['Cumulative Returns'] = cumulative_returns
Apple['Rolling Max'] = Apple['Cumulative Returns'].rolling(window=len(Apple), min_periods=1).max()
Apple['Drawdown'] = Apple['Cumulative Returns'] - Apple['Rolling Max']
max_drawdown = Apple['Drawdown'].min()
average_return = Apple['Daily Returns'].mean()*252
standard_deviation = Apple['Daily Returns'].std()*np.sqrt(252)
volatility = np.sqrt(252) * Apple['Daily Returns'].std()
risk_free_rate = 0.035
sharpe_ratio = (average_return-risk_free_rate)/standard_deviation
downside_returns = Apple['Daily Returns'][Apple['Daily Returns'] < 0]
downside_deviation = downside_returns.std()
average_return = Apple['Daily Returns'].mean()
sortino_ratio = (average_return - risk_free_rate) / downside_deviation
print('Volatility:', volatility)
print('Max Drawdown:', max_drawdown)
print('Sharpe Ratio:', sharpe_ratio)
print('Sortino Ratio:', sortino_ratio)
Apple

Volatility: 0.28615967782170737
Max Drawdown: -7.45628686837383
Sharpe Ratio: 0.835666749975468
Sortino Ratio: -2.6316780716804637

,Open,High,Low,Close,Adj Close,Volume,Daily Returns,Cumulative Returns,Rolling Max,Drawdown
Date,,,,,,,,,,
2010-01-04,7.622500,7.660714,7.585000,7.643214,6.496294,493729600,NaN,NaN,NaN,NaN
2010-01-05,7.664286,7.699643,7.616071,7.656429,6.507526,601904800,0.001729,1.001729,1.001729,0.000000
2010-01-06,7.656429,7.686786,7.526786,7.534643,6.404015,552160000,-0.015906,0.985795,1.001729,-0.015934
2010-01-07,7.562500,7.571429,7.466071,7.520714,6.392177,477131200,-0.001849,0.983973,1.001729,-0.017756
2010-01-08,7.510714,7.571429,7.466429,7.570714,6.434673,447610800,0.006648,0.990514,1.001729,-0.011214
...,...,...,...,...,...,...,...,...,...,...
2023-04-24,165.000000,165.600006,163.889999,165.330002,165.101639,41949600,0.001879,21.630952,23.813279,-2.182327
2023-04-25,165.190002,166.309998,163.729996,163.770004,163.543793,48714100,-0.009436,21.426850,23.813279,-2.386429
2023-04-26,163.059998,165.279999,162.800003,163.759995,163.533798,45498800,-0.000061,21.425540,23.813279,-2.387739
2023-04-27,165.190002,168.559998,165.190002,168.410004,168.177383,64902300,0.028395,22.033924,23.813279,-1.779355
2023-04-28,168.490005,169.850006,167.880005,169.679993,169.445618,55209200,0.007541,22.200083,23.813279,-1.613196

# For Tesla Inc.

In [17]:
Tesla['Daily Returns'] = Tesla['Close'].pct_change()
returns = Tesla['Daily Returns'] + 1
cumulative_returns = returns.cumprod()
Tesla['Cumulative Returns'] = cumulative_returns
Tesla['Rolling Max'] = Tesla['Cumulative Returns'].rolling(window=len(Tesla), min_periods=1).max()
Tesla['Drawdown'] = Tesla['Cumulative Returns'] - Tesla['Rolling Max']
max_drawdown = Tesla['Drawdown'].min()
average_return = Tesla['Daily Returns'].mean()*252
standard_deviation = Tesla['Daily Returns'].std()*np.sqrt(252)
volatility = np.sqrt(252) * Tesla['Daily Returns'].std()
risk_free_rate = 0.035
sharpe_ratio = (average_return-risk_free_rate)/standard_deviation
downside_returns = Tesla['Daily Returns'][Tesla['Daily Returns'] < 0]
downside_deviation = downside_returns.std()
average_return = Tesla['Daily Returns'].mean()
sortino_ratio = (average_return - risk_free_rate) / downside_deviation
print('Volatility:', volatility)
print('Max Drawdown:', max_drawdown)
print('Sharpe Ratio:', sharpe_ratio)
print('Sortino Ratio:', sortino_ratio)
Tesla

Volatility: 0.5738070034042111
Max Drawdown: -189.53742738071088
Sharpe Ratio: 0.8551920659649392
Sortino Ratio: -1.332342683358373

,Open,High,Low,Close,Adj Close,Volume,Daily Returns,Cumulative Returns,Rolling Max,Drawdown
Date,,,,,,,,,,
2010-06-29,1.266667,1.666667,1.169333,1.592667,1.592667,281494500,NaN,NaN,NaN,NaN
2010-06-30,1.719333,2.028000,1.553333,1.588667,1.588667,257806500,-0.002511,0.997489,0.997489,0.000000
2010-07-01,1.666667,1.728000,1.351333,1.464000,1.464000,123282000,-0.078473,0.919213,0.997489,-0.078276
2010-07-02,1.533333,1.540000,1.247333,1.280000,1.280000,77097000,-0.125683,0.803683,0.997489,-0.193805
2010-07-06,1.333333,1.333333,1.055333,1.074000,1.074000,103003500,-0.160937,0.674341,0.997489,-0.323148
...,...,...,...,...,...,...,...,...,...,...
2023-04-24,164.649994,165.649994,158.610001,162.550003,162.550003,140006600,-0.015326,102.061514,257.411000,-155.349487
2023-04-25,159.820007,163.470001,158.750000,160.669998,160.669998,121999300,-0.011566,100.881101,257.411000,-156.529900
2023-04-26,160.289993,160.669998,153.139999,153.750000,153.750000,153364100,-0.043070,96.536188,257.411000,-160.874812
2023-04-27,152.639999,160.479996,152.369995,160.190002,160.190002,127015200,0.041886,100.579722,257.411000,-156.831278
2023-04-28,160.899994,165.000000,157.320007,164.309998,164.309998,122515800,0.025719,103.166575,257.411000,-154.244425

# For Pfizer Limited

In [19]:
Pfizer['Daily Returns'] = Pfizer['Close'].pct_change()
returns = Pfizer['Daily Returns'] + 1
cumulative_returns = returns.cumprod()
Pfizer['Cumulative Returns'] = cumulative_returns
Pfizer['Rolling Max'] = Pfizer['Cumulative Returns'].rolling(window=len(Pfizer), min_periods=1).max()
Pfizer['Drawdown'] = Pfizer['Cumulative Returns'] - Pfizer['Rolling Max']
max_drawdown = Pfizer['Drawdown'].min()
average_return = Pfizer['Daily Returns'].mean()*252
standard_deviation = Pfizer['Daily Returns'].std()*np.sqrt(252)
risk_free_rate = 0.035
sharpe_ratio = (average_return-risk_free_rate)/standard_deviation
downside_returns = Pfizer['Daily Returns'][Pfizer['Daily Returns'] < 0]
downside_deviation = downside_returns.std()
average_return = Pfizer['Daily Returns'].mean()
sortino_ratio = (average_return - risk_free_rate) / downside_deviation
volatility = np.sqrt(252) * Pfizer['Daily Returns'].std()
print('Volatility:', volatility)
print('Max Drawdown:', max_drawdown)
print('Sharpe Ratio:', sharpe_ratio)
print('Sortino Ratio:', sortino_ratio)
Pfizer

Volatility: 0.21614637395814718
Max Drawdown: -1.2594547832628789
Sharpe Ratio: 0.2146402150396225
Sortino Ratio: -3.7471852756980124

,Open,High,Low,Close,Adj Close,Volume,Daily Returns,Cumulative Returns,Rolling Max,Drawdown
Date,,,,,,,,,,
2010-01-04,17.333965,17.969639,17.305504,17.960152,10.908776,54898644,NaN,NaN,NaN,NaN
2010-01-05,17.950665,17.960152,17.599621,17.703985,10.753186,45714931,-0.014263,0.985737,0.985737,0.000000
2010-01-06,17.703985,17.846300,17.561670,17.647058,10.718611,43640975,-0.003215,0.982567,0.985737,-0.003170
2010-01-07,17.685009,17.713472,17.514231,17.580645,10.678274,41557112,-0.003763,0.978869,0.985737,-0.006867
2010-01-08,17.666035,17.751423,17.571157,17.722960,10.764715,32049716,0.008095,0.986793,0.986793,0.000000
...,...,...,...,...,...,...,...,...,...,...
2023-04-24,40.189999,40.200001,39.709999,39.910000,39.482765,17633700,-0.007461,2.222142,3.410328,-1.188186
2023-04-25,39.750000,39.919998,39.279999,39.330002,38.908978,24492400,-0.014533,2.189848,3.410328,-1.220480
2023-04-26,39.160000,39.189999,38.400002,38.630001,38.216469,22401400,-0.017798,2.150873,3.410328,-1.259455
2023-04-27,38.619999,38.830002,38.310001,38.740002,38.325291,22434000,0.002848,2.156997,3.410328,-1.253330
2023-04-28,38.700001,38.910000,38.619999,38.889999,38.473686,21003600,0.003872,2.165349,3.410328,-1.244978

# For Sea Limited

In [20]:
Sea_Limited['Daily Returns'] = Sea_Limited['Close'].pct_change()
returns = Sea_Limited['Daily Returns'] + 1
cumulative_returns = returns.cumprod()
Sea_Limited['Cumulative Returns'] = cumulative_returns
Sea_Limited['Rolling Max'] = Sea_Limited['Cumulative Returns'].rolling(window=len(Sea_Limited), min_periods=1).max()
Sea_Limited['Drawdown'] = Sea_Limited['Cumulative Returns'] - Sea_Limited['Rolling Max']
max_drawdown = Sea_Limited['Drawdown'].min()
average_return = Sea_Limited['Daily Returns'].mean()*252
standard_deviation = Sea_Limited['Daily Returns'].std()*np.sqrt(252)
risk_free_rate = 0.035
sharpe_ratio = (average_return-risk_free_rate)/standard_deviation
downside_returns = Sea_Limited['Daily Returns'][Sea_Limited['Daily Returns'] < 0]
downside_deviation = downside_returns.std()
average_return = Sea_Limited['Daily Returns'].mean()
sortino_ratio = (average_return - risk_free_rate) / downside_deviation
volatility = np.sqrt(252) * Sea_Limited['Daily Returns'].std()
print('Volatility:', volatility)
print('Max Drawdown:', max_drawdown)
print('Sharpe Ratio:', sharpe_ratio)
print('Sortino Ratio:', sortino_ratio)
Sea_Limited

Volatility: 0.6781844323809785
Max Drawdown: -20.053504764793715
Sharpe Ratio: 0.6923684597750681
Sortino Ratio: -1.2713663596054214

,Open,High,Low,Close,Adj Close,Volume,Daily Returns,Cumulative Returns,Rolling Max,Drawdown
Date,,,,,,,,,,
2017-10-20,16.250000,16.990000,14.000000,16.260000,16.260000,37563700,NaN,NaN,NaN,NaN
2017-10-23,16.100000,16.399000,15.120000,15.260000,15.260000,5753800,-0.061501,0.938499,0.938499,0.000000
2017-10-24,15.400000,15.860000,14.770000,15.240000,15.240000,3748300,-0.001311,0.937269,0.938499,-0.001230
2017-10-25,15.100000,15.430000,13.620000,13.730000,13.730000,4408100,-0.099081,0.844403,0.938499,-0.094096
2017-10-26,13.820000,14.160000,13.810000,14.020000,14.020000,1850000,0.021122,0.862239,0.938499,-0.076261
...,...,...,...,...,...,...,...,...,...,...
2023-04-24,79.160004,80.769997,78.180000,78.709999,78.709999,2309000,-0.005810,4.840713,22.570110,-17.729397
2023-04-25,76.839996,78.099998,74.330002,74.940002,74.940002,3769900,-0.047897,4.608856,22.570110,-17.961254
2023-04-26,76.620003,76.879997,72.809998,73.470001,73.470001,3044700,-0.019616,4.518450,22.570110,-18.051660
2023-04-27,74.709999,75.680000,73.739998,74.730003,74.730003,2722200,0.017150,4.595941,22.570110,-17.974169
2023-04-28,74.199997,76.910004,73.349998,76.169998,76.169998,2431200,0.019269,4.684502,22.570110,-17.885608

# For Meta Inc.

In [21]:
Meta['Daily Returns'] = Meta['Close'].pct_change()
returns = Meta['Daily Returns'] + 1
cumulative_returns = returns.cumprod()
Meta['Cumulative Returns'] = cumulative_returns
Meta['Rolling Max'] = Meta['Cumulative Returns'].rolling(window=len(Meta), min_periods=1).max()
Meta['Drawdown'] = Meta['Cumulative Returns'] - Meta['Rolling Max']
max_drawdown = Meta['Drawdown'].min()
average_return = Meta['Daily Returns'].mean()*252
standard_deviation = Meta['Daily Returns'].std()*np.sqrt(252)
risk_free_rate = 0.035
sharpe_ratio = (average_return-risk_free_rate)/standard_deviation
downside_returns = Meta['Daily Returns'][Meta['Daily Returns'] < 0]
downside_deviation = downside_returns.std()
average_return = Meta['Daily Returns'].mean()
sortino_ratio = (average_return - risk_free_rate) / downside_deviation
volatility = np.sqrt(252) * Meta['Daily Returns'].std()
print('Volatility:', volatility)
print('Max Drawdown:', max_drawdown)
print('Sharpe Ratio:', sharpe_ratio)
print('Sortino Ratio:', sortino_ratio)
Meta

Volatility: 0.40776253756144154
Max Drawdown: -7.671200432259193
Sharpe Ratio: 0.5311151053232579
Sortino Ratio: -1.758368143808507

,Open,High,Low,Close,Adj Close,Volume,Daily Returns,Cumulative Returns,Rolling Max,Drawdown
Date,,,,,,,,,,
2012-05-18,42.049999,45.000000,38.000000,38.230000,38.230000,573576400,NaN,NaN,NaN,NaN
2012-05-21,36.529999,36.660000,33.000000,34.029999,34.029999,168192700,-0.109861,0.890139,0.890139,0.000000
2012-05-22,32.610001,33.590000,30.940001,31.000000,31.000000,101786600,-0.089039,0.810882,0.890139,-0.079257
2012-05-23,31.370001,32.500000,31.360001,32.000000,32.000000,73600000,0.032258,0.837039,0.890139,-0.053100
2012-05-24,32.950001,33.209999,31.770000,33.029999,33.029999,50237200,0.032187,0.863981,0.890139,-0.026157
...,...,...,...,...,...,...,...,...,...,...
2023-04-24,213.679993,213.919998,210.710007,212.789993,212.789993,15750900,-0.000470,5.566047,9.996861,-4.430814
2023-04-25,210.820007,211.259995,207.130005,207.550003,207.550003,19198200,-0.024625,5.428983,9.996861,-4.567878
2023-04-26,212.500000,214.110001,208.880005,209.399994,209.399994,41992700,0.008913,5.477374,9.996861,-4.519487
2023-04-27,239.889999,241.690002,236.770004,238.559998,238.559998,71196500,0.139255,6.240126,9.996861,-3.756735
2023-04-28,239.009995,240.429993,235.750000,240.320007,240.320007,39554000,0.007378,6.286163,9.996861,-3.710698

# For FTSE 100

In [22]:
FTSE_100['Daily Returns'] = FTSE_100['Close'].pct_change()
returns = FTSE_100['Daily Returns'] + 1
cumulative_returns = returns.cumprod()
FTSE_100['Cumulative Returns'] = cumulative_returns
FTSE_100['Rolling Max'] = FTSE_100['Cumulative Returns'].rolling(window=len(FTSE_100), min_periods=1).max()
FTSE_100['Drawdown'] = FTSE_100['Cumulative Returns'] - FTSE_100['Rolling Max']
max_drawdown = FTSE_100['Drawdown'].min()
average_return = FTSE_100['Daily Returns'].mean()*252
standard_deviation = FTSE_100['Daily Returns'].std()*np.sqrt(252)
risk_free_rate = 0.035
sharpe_ratio = (average_return-risk_free_rate)/standard_deviation
downside_returns = FTSE_100['Daily Returns'][FTSE_100['Daily Returns'] < 0]
downside_deviation = downside_returns.std()
average_return = FTSE_100['Daily Returns'].mean()
sortino_ratio = (average_return - risk_free_rate) / downside_deviation
volatility = np.sqrt(252) * FTSE_100['Daily Returns'].std()
print('Volatility:', volatility)
print('Max Drawdown:', max_drawdown)
print('Sharpe Ratio:', sharpe_ratio)
print('Sortino Ratio:', sortino_ratio)
FTSE_100

Volatility: 0.16251517394788517
Max Drawdown: -0.5242623493357167
Sharpe Ratio: 0.031455796462861285
Sortino Ratio: -4.395460538816825

,Open,High,Low,Close,Adj Close,Volume,Daily Returns,Cumulative Returns,Rolling Max,Drawdown
Date,,,,,,,,,,
2010-01-04,5412.899902,5500.299805,5410.799805,5500.299805,5500.299805,750942000,NaN,NaN,NaN,NaN
2010-01-05,5500.299805,5536.399902,5480.700195,5522.500000,5522.500000,1149301200,0.004036,1.004036,1.004036,0.000000
2010-01-06,5522.500000,5536.500000,5497.700195,5530.000000,5530.000000,998295300,0.001358,1.005400,1.005400,0.000000
2010-01-07,5530.000000,5551.700195,5499.799805,5526.700195,5526.700195,1162933700,-0.000597,1.004800,1.005400,-0.000600
2010-01-08,5526.700195,5549.299805,5494.799805,5534.200195,5534.200195,1006420600,0.001357,1.006163,1.006163,0.000000
...,...,...,...,...,...,...,...,...,...,...
2023-04-24,7914.100098,7927.100098,7877.600098,7912.200195,7912.200195,724845900,-0.000240,1.438503,1.457066,-0.018563
2023-04-25,7912.200195,7912.500000,7863.899902,7891.100098,7891.100098,657900800,-0.002667,1.434667,1.457066,-0.022399
2023-04-26,7891.100098,7894.000000,7825.899902,7852.600098,7852.600098,902747300,-0.004879,1.427668,1.457066,-0.029398
2023-04-27,7852.600098,7865.700195,7816.799805,7831.600098,7831.600098,669734300,-0.002674,1.423850,1.457066,-0.033216
2023-04-28,7831.600098,7870.600098,7791.600098,7870.600098,7870.600098,945273500,0.004980,1.430940,1.457066,-0.026126

# For Dow Jones Industrial Average

In [23]:
Dow_Jones_Industrial_Average['Daily Returns'] = Dow_Jones_Industrial_Average['Close'].pct_change()
returns = Dow_Jones_Industrial_Average['Daily Returns'] + 1
cumulative_returns = returns.cumprod()
Dow_Jones_Industrial_Average['Cumulative Returns'] = cumulative_returns
Dow_Jones_Industrial_Average['Rolling Max'] = Dow_Jones_Industrial_Average['Cumulative Returns'].rolling(window=len(Dow_Jones_Industrial_Average), min_periods=1).max()
Dow_Jones_Industrial_Average['Drawdown'] = Dow_Jones_Industrial_Average['Cumulative Returns'] - Dow_Jones_Industrial_Average['Rolling Max']
max_drawdown = Dow_Jones_Industrial_Average['Drawdown'].min()
average_return = Dow_Jones_Industrial_Average['Daily Returns'].mean()*252
standard_deviation = Dow_Jones_Industrial_Average['Daily Returns'].std()*np.sqrt(252)
risk_free_rate = 0.035
sharpe_ratio = (average_return-risk_free_rate)/standard_deviation
downside_returns = Dow_Jones_Industrial_Average['Daily Returns'][Dow_Jones_Industrial_Average['Daily Returns'] < 0]
downside_deviation = downside_returns.std()
average_return = Dow_Jones_Industrial_Average['Daily Returns'].mean()
sortino_ratio = (average_return - risk_free_rate) / downside_deviation
volatility = np.sqrt(252) * Dow_Jones_Industrial_Average['Daily Returns'].std()
print('Volatility:', volatility)
print('Max Drawdown:', max_drawdown)
print('Sharpe Ratio:', sharpe_ratio)
print('Sortino Ratio:', sortino_ratio)
Dow_Jones_Industrial_Average

Volatility: 0.1718179192636908
Max Drawdown: -1.0354810746472516
Sharpe Ratio: 0.3945563745009263
Sortino Ratio: -3.8624689204845164

,Open,High,Low,Close,Adj Close,Volume,Daily Returns,Cumulative Returns,Rolling Max,Drawdown
Date,,,,,,,,,,
2010-01-04,10430.690430,10604.969727,10430.690430,10583.959961,10583.959961,179780000,NaN,NaN,NaN,NaN
2010-01-05,10584.559570,10584.559570,10522.519531,10572.019531,10572.019531,188540000,-0.001128,0.998872,0.998872,0.000000
2010-01-06,10564.719727,10594.990234,10546.549805,10573.679688,10573.679688,186040000,0.000157,0.999029,0.999029,0.000000
2010-01-07,10571.110352,10612.370117,10505.209961,10606.860352,10606.860352,217390000,0.003138,1.002164,1.002164,0.000000
2010-01-08,10606.400391,10619.400391,10554.330078,10618.190430,10618.190430,172710000,0.001068,1.003234,1.003234,0.000000
...,...,...,...,...,...,...,...,...,...,...
2023-04-24,33805.039062,33891.148438,33726.089844,33875.398438,33875.398438,252020000,0.001965,3.200636,3.476926,-0.276291
2023-04-25,33828.339844,33875.488281,33525.390625,33530.828125,33530.828125,297880000,-0.010172,3.168080,3.476926,-0.308847
2023-04-26,33596.339844,33645.828125,33235.851562,33301.871094,33301.871094,321170000,-0.006828,3.146447,3.476926,-0.330479
2023-04-27,33381.660156,33859.750000,33374.648438,33826.160156,33826.160156,343240000,0.015744,3.195983,3.476926,-0.280943
2023-04-28,33797.429688,34104.558594,33728.398438,34098.160156,34098.160156,354310000,0.008041,3.221683,3.476926,-0.255244

# For Nasdaq Composite

In [24]:
NASDAQ_Composite['Daily Returns'] = NASDAQ_Composite['Close'].pct_change()
returns = NASDAQ_Composite['Daily Returns'] + 1
cumulative_returns = returns.cumprod()
NASDAQ_Composite['Cumulative Returns'] = cumulative_returns
NASDAQ_Composite['Rolling Max'] = NASDAQ_Composite['Cumulative Returns'].rolling(window=len(NASDAQ_Composite), min_periods=1).max()
NASDAQ_Composite['Drawdown'] = NASDAQ_Composite['Cumulative Returns'] - NASDAQ_Composite['Rolling Max']
max_drawdown = NASDAQ_Composite['Drawdown'].min()
average_return = NASDAQ_Composite['Daily Returns'].mean()*252
standard_deviation = NASDAQ_Composite['Daily Returns'].std()*np.sqrt(252)
risk_free_rate = 0.035
sharpe_ratio = (average_return-risk_free_rate)/standard_deviation
downside_returns = NASDAQ_Composite['Daily Returns'][NASDAQ_Composite['Daily Returns'] < 0]
downside_deviation = downside_returns.std()
average_return = NASDAQ_Composite['Daily Returns'].mean()
sortino_ratio = (average_return - risk_free_rate) / downside_deviation
volatility = np.sqrt(252) * NASDAQ_Composite['Daily Returns'].std()
print('Volatility:', volatility)
print('Max Drawdown:', max_drawdown)
print('Sharpe Ratio:', sharpe_ratio)
print('Sortino Ratio:', sortino_ratio)
NASDAQ_Composite

Volatility: 0.20605521017000292
Max Drawdown: -2.5316669360044823
Sharpe Ratio: 0.5419133697500937
Sortino Ratio: -3.3487312243518903

,Open,High,Low,Close,Adj Close,Volume,Daily Returns,Cumulative Returns,Rolling Max,Drawdown
Date,,,,,,,,,,
2010-01-04,2294.409912,2311.149902,2294.409912,2308.419922,2308.419922,1931380000,NaN,NaN,NaN,NaN
2010-01-05,2307.270020,2313.729980,2295.620117,2308.709961,2308.709961,2367860000,0.000126,1.000126,1.000126,0.000000
2010-01-06,2307.709961,2314.070068,2295.679932,2301.090088,2301.090088,2253340000,-0.003300,0.996825,1.000126,-0.003301
2010-01-07,2298.090088,2301.300049,2285.219971,2300.050049,2300.050049,2270050000,-0.000452,0.996374,1.000126,-0.003751
2010-01-08,2292.239990,2317.600098,2290.610107,2317.169922,2317.169922,2145390000,0.007443,1.003790,1.003790,0.000000
...,...,...,...,...,...,...,...,...,...,...
2023-04-24,12053.469727,12103.580078,11960.299805,12037.200195,12037.200195,4854050000,-0.002921,5.214476,6.956031,-1.741555
2023-04-25,11968.809570,11990.459961,11798.769531,11799.160156,11799.160156,4806020000,-0.019775,5.111358,6.956031,-1.844673
2023-04-26,11913.230469,11967.990234,11833.070312,11854.349609,11854.349609,5281970000,0.004677,5.135266,6.956031,-1.820765
2023-04-27,11972.150391,12154.009766,11950.919922,12142.240234,12142.240234,5253710000,0.024286,5.259979,6.956031,-1.696052
2023-04-28,12117.540039,12227.719727,12082.570312,12226.580078,12226.580078,5331380000,0.006946,5.296515,6.956031,-1.659516

# For Russell 2000

In [26]:
Russell_2000['Daily Returns'] = Russell_2000['Close'].pct_change()
returns = Russell_2000['Daily Returns'] + 1
cumulative_returns = returns.cumprod()
Russell_2000['Cumulative Returns'] = cumulative_returns
Russell_2000['Rolling Max'] = Russell_2000['Cumulative Returns'].rolling(window=len(Russell_2000), min_periods=1).max()
Russell_2000['Drawdown'] = Russell_2000['Cumulative Returns'] - Russell_2000['Rolling Max']
max_drawdown = Russell_2000['Drawdown'].min()
average_return = Russell_2000['Daily Returns'].mean()*252
standard_deviation = Russell_2000['Daily Returns'].std()*np.sqrt(252)
risk_free_rate = 0.035
sharpe_ratio = (average_return-risk_free_rate)/standard_deviation
downside_returns = Russell_2000['Daily Returns'][Russell_2000['Daily Returns'] < 0]
downside_deviation = downside_returns.std()
average_return = Russell_2000['Daily Returns'].mean()
sortino_ratio = (average_return - risk_free_rate) / downside_deviation
volatility = np.sqrt(252) * Russell_2000['Daily Returns'].std()
print('Volatility:', volatility)
print('Max Drawdown:', max_drawdown)
print('Sharpe Ratio:', sharpe_ratio)
print('Sortino Ratio:', sortino_ratio)
Russell_2000

Volatility: 1.889668558723269
Max Drawdown: -1.4097559865779061
Sharpe Ratio: 1.9469679222553673
Sortino Ratio: -0.4129680137773831

,Open,High,Low,Close,Adj Close,Volume,Daily Returns,Cumulative Returns,Rolling Max,Drawdown
Date,,,,,,,,,,
2016-01-28,0.410,0.410,0.410,0.410,0.410,0,NaN,NaN,NaN,NaN
2016-01-29,0.393,0.393,0.393,0.393,0.393,0,-0.041463,0.958537,0.958537,0.000000
2016-02-01,0.355,0.355,0.355,0.355,0.355,0,-0.096692,0.865854,0.958537,-0.092683
2016-02-02,0.353,0.353,0.353,0.353,0.353,0,-0.005634,0.860976,0.958537,-0.097561
2016-02-03,0.364,0.364,0.364,0.364,0.364,0,0.031161,0.887805,0.958537,-0.070732
...,...,...,...,...,...,...,...,...,...,...
2017-02-08,1.573,1.573,1.573,1.573,1.573,0,-0.024194,3.836585,4.073171,-0.236585
2017-02-09,1.526,1.526,1.526,1.526,1.526,0,-0.029879,3.721951,4.073171,-0.351219
2017-02-10,1.530,1.530,1.530,1.530,1.530,0,0.002621,3.731707,4.073171,-0.341463
2017-03-10,1.141,1.141,1.141,1.141,1.141,0,-0.254248,2.782927,4.073171,-1.290244
2017-03-13,1.092,1.092,1.092,1.092,1.092,0,-0.042945,2.663415,4.073171,-1.409756

# For Nikkei 225

In [29]:
Nikkei_225['Daily Returns'] = Nikkei_225['Close'].pct_change()
returns = Nikkei_225['Daily Returns'] + 1
cumulative_returns = returns.cumprod()
Nikkei_225['Cumulative Returns'] = cumulative_returns
Nikkei_225['Rolling Max'] = Nikkei_225['Cumulative Returns'].rolling(window=len(Nikkei_225), min_periods=1).max()
Nikkei_225['Drawdown'] = Nikkei_225['Cumulative Returns'] - Nikkei_225['Rolling Max']
max_drawdown = Nikkei_225['Drawdown'].min()
average_return = Nikkei_225['Daily Returns'].mean()*252
standard_deviation = Nikkei_225['Daily Returns'].std()*np.sqrt(252)
risk_free_rate = 0.035
sharpe_ratio = (average_return-risk_free_rate)/standard_deviation
downside_returns = Nikkei_225['Daily Returns'][Nikkei_225['Daily Returns'] < 0]
downside_deviation = downside_returns.std()
average_return = Nikkei_225['Daily Returns'].mean()
sortino_ratio = (average_return - risk_free_rate) / downside_deviation
volatility = np.sqrt(252) * Nikkei_225['Daily Returns'].std()
print('Volatility:', volatility)
print('Max Drawdown:', max_drawdown)
print('Sharpe Ratio:', sharpe_ratio)
print('Sortino Ratio:', sortino_ratio)
Nikkei_225

Volatility: 0.20827710311813905
Max Drawdown: -0.7243492395631568
Sharpe Ratio: 0.30639749484301804
Sortino Ratio: -3.5992100706962997

,Open,High,Low,Close,Adj Close,Volume,Daily Returns,Cumulative Returns,Rolling Max,Drawdown
Date,,,,,,,,,,
2010-01-04,10609.339844,10694.490234,10608.139648,10654.790039,10654.790039,104400000,NaN,NaN,NaN,NaN
2010-01-05,10719.440430,10791.040039,10655.570312,10681.830078,10681.830078,166200000,0.002538,1.002538,1.002538,0.000000
2010-01-06,10709.549805,10768.610352,10661.169922,10731.450195,10731.450195,181800000,0.004645,1.007195,1.007195,0.000000
2010-01-07,10742.750000,10774.000000,10636.669922,10681.660156,10681.660156,182600000,-0.004640,1.002522,1.007195,-0.004673
2010-01-08,10743.299805,10816.450195,10677.559570,10798.320312,10798.320312,211800000,0.010922,1.013471,1.013471,0.000000
...,...,...,...,...,...,...,...,...,...,...
2023-04-24,28631.779297,28680.650391,28567.240234,28593.519531,28593.519531,50000000,0.001021,2.683631,2.878527,-0.194896
2023-04-25,28697.730469,28806.689453,28609.769531,28620.070312,28620.070312,59300000,0.000929,2.686122,2.878527,-0.192404
2023-04-26,28478.519531,28551.609375,28319.769531,28416.470703,28416.470703,68700000,-0.007114,2.667014,2.878527,-0.211513
2023-04-27,28340.589844,28459.730469,28241.669922,28457.679688,28457.679688,73600000,0.001450,2.670881,2.878527,-0.207646
2023-04-28,28705.910156,28879.240234,28499.509766,28856.439453,28856.439453,104000000,0.014012,2.708307,2.878527,-0.170220