In [ ]:
import yfinance as yf
import numpy as np
import pandas as pd

In [ ]:
ticker_symbols = ['AAPL', 'GOOGL', 'MSFT', 'AMZN', 'AAL','^N225','^GSPC','^RUT','^IXIC','^NYA']

In [ ]:
data = yf.download(ticker_symbols, start='2010-01-01', end='2023-01-01')

[*********************100%***********************]  10 of 10 completed

In [ ]:
data

            Adj Close                                                \
                  AAL        AAPL       AMZN      GOOGL        MSFT
Date
2010-01-04   4.496877    6.496295   6.695000  15.684434   23.623898
2010-01-05   5.005957    6.507525   6.734500  15.615365   23.631535
2010-01-06   4.798554    6.404015   6.612500  15.221722   23.486506
2010-01-07   4.939964    6.392177   6.500000  14.867367   23.242252
2010-01-08   4.845690    6.434673   6.676000  15.065566   23.402548
...               ...         ...        ...        ...         ...
2022-12-26        NaN         NaN        NaN        NaN         NaN
2022-12-27  12.530000  129.652435  83.040001  87.389999  236.367981
2022-12-28  12.320000  125.674019  81.820000  86.019997  233.944031
2022-12-29  12.700000  129.233658  84.180000  88.449997  240.407837
2022-12-30  12.720000  129.552719  84.000000  88.230003  239.220825

                                                                   \
                  ^GSPC         ^IXIC         ^N225          ^NYA
Date
2010-01-04  1132.989990   2308.419922  10654.790039   7326.740234
2010-01-05  1136.520020   2308.709961  10681.830078   7354.870117
2010-01-06  1137.140015   2301.090088  10731.450195   7377.700195
2010-01-07  1141.689941   2300.050049  10681.660156   7393.930176
2010-01-08  1144.979980   2317.169922  10798.320312   7425.350098
...                 ...           ...           ...           ...
2022-12-26          NaN           NaN  26405.869141           NaN
2022-12-27  3829.250000  10353.230469  26447.869141  15218.259766
2022-12-28  3783.219971  10213.290039  26340.500000  15037.320312
2022-12-29  3849.280029  10478.089844  26093.669922  15241.209961
2022-12-30  3839.500000  10466.480469  26094.500000  15184.309570

                         ...      Volume                            \
                   ^RUT  ...         AAL         AAPL         AMZN
Date                     ...
2010-01-04   640.099976  ...   9837300.0  493729600.0  151998000.0
2010-01-05   638.489990  ...  25212000.0  601904800.0  177038000.0
2010-01-06   637.950012  ...  16597900.0  552160000.0  143576000.0
2010-01-07   641.969971  ...  14033400.0  477131200.0  220604000.0
2010-01-08   644.559998  ...  12760000.0  447610800.0  196610000.0
...                 ...  ...         ...          ...          ...
2022-12-26          NaN  ...         NaN          NaN          NaN
2022-12-27  1749.520020  ...  18878200.0   69007800.0   57284000.0
2022-12-28  1722.020020  ...  20470400.0   85438400.0   58228600.0
2022-12-29  1766.250000  ...  19706300.0   75703700.0   54995900.0
2022-12-30  1761.250000  ...  19002800.0   77034200.0   62401200.0

                                                                              \
                  GOOGL        MSFT         ^GSPC         ^IXIC        ^N225
Date
2010-01-04   78169752.0  38409100.0  3.991400e+09  1.931380e+09  104400000.0
2010-01-05  120067812.0  49749600.0  2.491020e+09  2.367860e+09  166200000.0
2010-01-06  158988852.0  58182400.0  4.972660e+09  2.253340e+09  181800000.0
2010-01-07  256315428.0  50559700.0  5.270680e+09  2.270050e+09  182600000.0
2010-01-08  188783028.0  51197400.0  4.389590e+09  2.145390e+09  211800000.0
...                 ...         ...           ...           ...          ...
2022-12-26          NaN         NaN           NaN           NaN   47300000.0
2022-12-27   20097300.0  16688600.0  3.030300e+09  3.827290e+09   50200000.0
2022-12-28   19523200.0  17457100.0  3.083520e+09  3.842970e+09   61500000.0
2022-12-29   23333500.0  19770700.0  3.003680e+09  4.154100e+09   63100000.0
2022-12-30   23986300.0  21938500.0  2.979870e+09  3.959030e+09   52700000.0


                    ^NYA          ^RUT
Date
2010-01-04  3.991400e+09  3.991400e+09
2010-01-05  2.491020e+09  2.491020e+09
2010-01-06  4.972660e+09  4.972660e+09
2010-01-07  5.270680e+09  5.270680e+09
2010-01-08  4.389590e+09  4.389590e+09
...                  ...           ...
2022-12-26           NaN           NaN
2022-12-27  3.030300e+09  3.030300e+09
2022-12-28  3.083520e+09  3.083520e+09
2022-12-29  3.003680e+09  3.003680e+09
2022-12-30  2.979870e+09  2.979870e+09

[3379 rows x 60 columns]

In [ ]:
md=data

In [ ]:
# mdd

In [ ]:
data=data['Adj Close']

In [ ]:
cum_return = (data.iloc[-1] - data.iloc[0]) / data.iloc[0]
cum_return

AAL       1.828630
AAPL     18.942555
AMZN     11.546676
GOOGL     4.625323
MSFT      9.126222
^GSPC     2.388821
^IXIC     3.534045
^N225     1.449086
^NYA      1.072451
^RUT      1.751523
dtype: float64

In [ ]:
def std_dev(data):
    # Get number of observations
    n = len(data)
    # Calculate mean
    mean = sum(data) / n
    # Calculate deviations from the mean
    deviations = sum([(x - mean)**2 for x in data])
    # Calculate Variance & Standard Deviation
    variance = deviations / (n - 1)
    s = variance**(1/2)
    return s

In [ ]:
data
len(data)

3379

In [ ]:
data

,AAL,AAPL,AMZN,GOOGL,MSFT,^GSPC,^IXIC,^N225,^NYA,^RUT
Date,,,,,,,,,,
2010-01-04,4.496877,6.496295,6.695000,15.684434,23.623898,1132.989990,2308.419922,10654.790039,7326.740234,640.099976
2010-01-05,5.005957,6.507525,6.734500,15.615365,23.631535,1136.520020,2308.709961,10681.830078,7354.870117,638.489990
2010-01-06,4.798554,6.404015,6.612500,15.221722,23.486506,1137.140015,2301.090088,10731.450195,7377.700195,637.950012
2010-01-07,4.939964,6.392177,6.500000,14.867367,23.242252,1141.689941,2300.050049,10681.660156,7393.930176,641.969971
2010-01-08,4.845690,6.434673,6.676000,15.065566,23.402548,1144.979980,2317.169922,10798.320312,7425.350098,644.559998
...,...,...,...,...,...,...,...,...,...,...
2022-12-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26405.869141,NaN,NaN
2022-12-27,12.530000,129.652435,83.040001,87.389999,236.367981,3829.250000,10353.230469,26447.869141,15218.259766,1749.520020
2022-12-28,12.320000,125.674019,81.820000,86.019997,233.944031,3783.219971,10213.290039,26340.500000,15037.320312,1722.020020
2022-12-29,12.700000,129.233658,84.180000,88.449997,240.407837,3849.280029,10478.089844,26093.669922,15241.209961,1766.250000
2022-12-30,12.720000,129.552719,84.000000,88.230003,239.220825,3839.500000,10466.480469,26094.500000,15184.309570,1761.250000

In [ ]:
def sharpe_ratio(return_series, N, rf):
    mean = return_series.mean() * N -rf
    sigma = return_series.std() * np.sqrt(N)
    return mean / sigma

N = 255 #255 trading days in a year
rf =0.01 #1% risk free rate
sharpes = data.apply(sharpe_ratio, args=(N,rf,),axis=0)

sharpes

AAL      28.150623
AAPL     16.518229
AMZN     17.396249
GOOGL    21.925871
MSFT     17.051572
^GSPC    38.782450
^IXIC    27.862925
^N225    45.771632
^NYA     65.572563
^RUT     46.653561
dtype: float64

In [ ]:
def vola(return_series, N, rf):
  return return_series.std() * np.sqrt(N)

In [ ]:
N = 255 #255 trading days in a year
rf =0.01 #1% risk free rate
vola = data.apply(vola, args=(N,rf,),axis=0)

In [ ]:
vola

AAL         228.590476
AAPL        761.470207
AMZN        863.565122
GOOGL       571.745536
MSFT       1422.057036
^GSPC     15792.095410
^IXIC     59322.652622
^N225    101379.201094
^NYA      43665.203820
^RUT       7147.596026
dtype: float64

In [ ]:
import yfinance as yf
ticker_symbols = ['AAPL', 'GOOGL', 'MSFT', 'AMZN', 'AAL','^N225','^GSPC','^RUT','^IXIC','^NYA']

data = yf.download(ticker_symbols, start='2010-01-01', end='2023-01-01')
adj_close_prices = data['Adj Close']

[*********************100%***********************]  10 of 10 completed

In [ ]:
#data = yf.download(ticker_symbols, start='2010-01-01', end='2023-01-01')

def calculate_max_drawdown(prices):
    cumulative_returns = prices / prices.iloc[0]
    previous_peaks = cumulative_returns.cummax()
    drawdowns = cumulative_returns - previous_peaks
    max_drawdown = drawdowns.min()
    return max_drawdown

# Calculate maximum drawdown for each equity
max_drawdowns = adj_close_prices.apply(calculate_max_drawdown, axis=0)

# Display the maximum drawdown for each equity
print(max_drawdowns)

AAL     -10.662672
AAPL     -8.429462
AMZN    -15.646078
GOOGL    -4.234039
MSFT     -5.331948
^GSPC    -1.076382
^IXIC    -2.531667
^N225    -0.724349
^NYA     -0.737821
^RUT     -1.238713
dtype: float64

In [ ]:
def calculate_sortino_ratio(prices, risk_free_rate=0.0):
    returns = prices.pct_change().dropna()
    downside_returns = np.where(returns < risk_free_rate, returns, 0)
    downside_deviation = np.std(downside_returns)
    
    expected_return = np.mean(returns)
    sortino_ratio = (expected_return - risk_free_rate) / downside_deviation
    return sortino_ratio

# Calculate Sortino ratio for each equity
sortino_ratios = adj_close_prices.apply(calculate_sortino_ratio, risk_free_rate=0.02)

# Display the Sortino ratio for each equity
print(sortino_ratios)

AAL     -0.924190
AAPL    -1.397697
AMZN    -1.283153
GOOGL   -1.505163
MSFT    -1.548747
^GSPC   -2.046405
^IXIC   -1.799498
^N225   -1.820089
^NYA    -2.074321
^RUT    -1.658158
dtype: float64