In [1]:
import pandas as pd
import yfinance as yf
from datetime import date
from math import sqrt

In [2]:
#Defining Indices and Equities

#International Equities(taken from NASDAQ Stock List)
nvidia = "NVDA"
tesla = "TSLA"
jnj = "JNJ"
walmart = "WMT"
jpm = "JPM"

eq_list = [nvidia, tesla, jnj, walmart, jpm]

#International Indices
nasdaq= "^IXIC"
nyse = "^NYA"
russ = "^RUT"
nikk = "^N225"
sp = "^GSPC"

ind_list = [nasdaq, nyse, russ, nikk, sp]

In [3]:
fields = ['Cumulative Returns', 'Volatility', 'Sharpe Ratio', 'Sortino Ratio', 'Max Drawdown']

In [4]:
data_indices = pd.DataFrame(columns = ind_list, index = fields)
data_equity = pd.DataFrame(columns = eq_list, index = fields)

In [5]:
for i in ind_list:
    df = yf.download(i, 
                      start='2010-01-01',
                      end='2023-05-01',
                    )
    
    #Cumulative Returns
    df["Daily Returns"] = df["Close"]/df["Close"].shift(1) - 1
    cumulative_return = (1 + df['Daily Returns']).prod() - 1
    
    #Volatility
    time_period = 252
    std = df["Daily Returns"].std()
    vol = std * sqrt(time_period)
    
    #Sortino Ratio
    risk_free_return = 0.0525 #For USA
    avg_return = df["Daily Returns"].mean()
    downside_dev = df["Daily Returns"].where(df["Daily Returns"] < 0).std()
    sortino_ratio = (avg_return - risk_free_return) / downside_dev

    #Sharpe Ratio
    std_return = df["Daily Returns"].std()
    sharpe_ratio = (avg_return - risk_free_return) / std_return

    #Max Drawdown
    peak = df["Close"][0]
    drawdown = 0.0
    for price in df["Close"]:
        if price > peak:
            peak = price
        else:
            curr_drawdown = (price-peak) / peak
            if curr_drawdown < drawdown:
                drawdown = curr_drawdown
    mdd = drawdown
    
    data_indices[i] = [cumulative_return, vol, sharpe_ratio, sortino_ratio, mdd]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [6]:
data_indices

                       ^IXIC      ^NYA      ^RUT     ^N225     ^GSPC
Cumulative Returns  4.296515  1.121800  1.763615  1.708307  2.680068
Volatility          0.206055  0.175517  0.230032  0.208277  0.177607
Sharpe Ratio       -3.999766 -4.722460 -3.594810 -3.971569 -4.652081
Sortino Ratio      -5.051410 -5.768006 -4.688304 -5.419206 -5.695302
Max Drawdown       -0.363953 -0.381142 -0.430613 -0.317989 -0.339250

In [7]:
for i in eq_list:
    df = yf.download(i, 
                      start='2010-01-01',
                      end='2023-05-01',
                    )
    
    #Cumulative Returns
    df["Daily Returns"] = df["Close"]/df["Close"].shift(1) - 1
    cumulative_return = (1 + df['Daily Returns']).prod() - 1
    
    #Volatility
    time_period = df.shape[0]
    std = df["Daily Returns"].std()
    vol = std * sqrt(time_period)
    
    #Sortino Ratio
    risk_free_return = 0.0525 #For USA
    avg_return = df["Daily Returns"].mean()
    downside_dev = df["Daily Returns"].where(df["Daily Returns"] < 0).std()
    sortino_ratio = (avg_return - risk_free_return) / downside_dev

    #Sharpe Ratio
    std_return = df["Daily Returns"].std()
    sharpe_ratio = (avg_return - risk_free_return) / std_return

    #Max Drawdown
    peak = df["Close"][0]
    drawdown = 0.0
    for price in df["Close"]:
        if price > peak:
            peak = price
        else:
            curr_drawdown = (price-peak) / peak
            if curr_drawdown < drawdown:
                drawdown = curr_drawdown
    mdd = drawdown
    
    data_equity[i] = [cumulative_return, vol, sharpe_ratio, sortino_ratio, mdd]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [8]:
data_equity

                         NVDA        TSLA       JNJ       WMT       JPM
Cumulative Returns  59.030285  102.166575  1.530921  1.783884  2.226138
Volatility           1.632269    2.054632  0.616844  0.710143  1.040541
Sharpe Ratio        -1.805094   -1.394711 -4.896999 -4.249816 -2.893153
Sortino Ratio       -2.661802   -2.040738 -6.519363 -5.621873 -4.036468
Max Drawdown        -0.663621   -0.736322 -0.278265 -0.376368 -0.439861

In [9]:
#Practising above function on one index.
df = yf.download(nasdaq, 
                      start='2010-01-01',
                      end='2023-05-01',
)
df["Daily Returns"] = df["Close"]/df["Close"].shift(1) - 1

#df["Close"].shift(1): The .shift(1) function is used to shift the values of the "Close" column one position backward.
#By shifting the values, the current day's closing price is compared to the previous day's closing price.

df

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume,Daily Returns
Date,,,,,,,
2010-01-04,2294.409912,2311.149902,2294.409912,2308.419922,2308.419922,1931380000,NaN
2010-01-05,2307.270020,2313.729980,2295.620117,2308.709961,2308.709961,2367860000,0.000126
2010-01-06,2307.709961,2314.070068,2295.679932,2301.090088,2301.090088,2253340000,-0.003300
2010-01-07,2298.090088,2301.300049,2285.219971,2300.050049,2300.050049,2270050000,-0.000452
2010-01-08,2292.239990,2317.600098,2290.610107,2317.169922,2317.169922,2145390000,0.007443
...,...,...,...,...,...,...,...
2023-04-24,12053.469727,12103.580078,11960.299805,12037.200195,12037.200195,4854050000,-0.002921
2023-04-25,11968.809570,11990.459961,11798.769531,11799.160156,11799.160156,4806020000,-0.019775
2023-04-26,11913.230469,11967.990234,11833.070312,11854.349609,11854.349609,5281970000,0.004677
2023-04-27,11972.150391,12154.009766,11950.919922,12142.240234,12142.240234,5253710000,0.024286
2023-04-28,12117.540039,12227.719727,12082.570312,12226.580078,12226.580078,5331380000,0.006946

In [10]:
cumulative_return = (1 + df['Daily Returns']).prod() - 1
cumulative_return

4.296514712190698

In [11]:
time_period = 252

In [12]:
std = df["Daily Returns"].std()

In [13]:
vol = std * sqrt(time_period)
vol

0.2060552101700032

In [14]:
risk_free_return = 0.0525 #For USA
avg_return = df["Daily Returns"].mean()

downside_dev = df["Daily Returns"].where(df["Daily Returns"] < 0).std()

In [15]:
sortino_ratio = (avg_return - risk_free_return) / downside_dev
sortino_ratio

-5.051409965749021

In [16]:
std_return = df["Daily Returns"].std()

sharpe_ratio = (avg_return - risk_free_return) / std_return
sharpe_ratio

-3.9997663447083363

In [17]:
peak = df["Close"][0]
drawdown = 0.0

for price in df["Close"]:
    if price > peak:
        peak = price
    else:
        curr_drawdown = (price-peak) / peak
        if curr_drawdown < drawdown:
            drawdown = curr_drawdown
            
mdd = drawdown
mdd

-0.36395279909120204