In [1]:
import yfinance as yf
import pandas as pd
import numpy as np
import datetime
from datetime import date
from math import sqrt

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

In [2]:
Indices=pd.DataFrame(index=["Cumulative Returns","Volatility","Sharpe ratio","Sortino ratio","MDD"],columns=["^IXIC","^GSPC","^DJI","^RUT","^VIX"])
Indices

                   ^IXIC ^GSPC ^DJI ^RUT ^VIX
Cumulative Returns   NaN   NaN  NaN  NaN  NaN
Volatility           NaN   NaN  NaN  NaN  NaN
Sharpe ratio         NaN   NaN  NaN  NaN  NaN
Sortino ratio        NaN   NaN  NaN  NaN  NaN
MDD                  NaN   NaN  NaN  NaN  NaN

In [3]:
Equities=pd.DataFrame(index=["Cumulative Returns","Volatility","Sharpe ratio","Sortino ratio","MDD"],columns=["GOOGL","AAPL","ASML","AMZN","HDB"])
Equities

                   GOOGL AAPL ASML AMZN  HDB
Cumulative Returns   NaN  NaN  NaN  NaN  NaN
Volatility           NaN  NaN  NaN  NaN  NaN
Sharpe ratio         NaN  NaN  NaN  NaN  NaN
Sortino ratio        NaN  NaN  NaN  NaN  NaN
MDD                  NaN  NaN  NaN  NaN  NaN

In [4]:
ixic=yf.download("^IXIC",start="2010-01-01",end="2023-05-01")

[*********************100%***********************]  1 of 1 completed

In [5]:
ixic

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2009-12-31,2292.919922,2293.590088,2269.110107,2269.149902,2269.149902,1237820000
2010-01-04,2294.409912,2311.149902,2294.409912,2308.419922,2308.419922,1931380000
2010-01-05,2307.270020,2313.729980,2295.620117,2308.709961,2308.709961,2367860000
2010-01-06,2307.709961,2314.070068,2295.679932,2301.090088,2301.090088,2253340000
2010-01-07,2298.090088,2301.300049,2285.219971,2300.050049,2300.050049,2270050000
...,...,...,...,...,...,...
2023-04-24,12053.469727,12103.580078,11960.299805,12037.200195,12037.200195,4854050000
2023-04-25,11968.809570,11990.459961,11798.769531,11799.160156,11799.160156,4806020000
2023-04-26,11913.230469,11967.990234,11833.070312,11854.349609,11854.349609,5281970000
2023-04-27,11972.150391,12154.009766,11950.919922,12142.240234,12142.240234,5253710000
2023-04-28,12117.540039,12227.719727,12082.570312,12226.580078,12226.580078,5331380000

In [6]:
cprice=ixic["Close"]
oprice=ixic["Open"]
print(cprice)
print(oprice)

Date
2009-12-31     2269.149902
2010-01-04     2308.419922
2010-01-05     2308.709961
2010-01-06     2301.090088
2010-01-07     2300.050049
                  ...
2023-04-24    12037.200195
2023-04-25    11799.160156
2023-04-26    11854.349609
2023-04-27    12142.240234
2023-04-28    12226.580078
Name: Close, Length: 3354, dtype: float64
Date
2009-12-31     2292.919922
2010-01-04     2294.409912
2010-01-05     2307.270020
2010-01-06     2307.709961
2010-01-07     2298.090088
                  ...
2023-04-24    12053.469727
2023-04-25    11968.809570
2023-04-26    11913.230469
2023-04-27    11972.150391
2023-04-28    12117.540039
Name: Open, Length: 3354, dtype: float64

In [7]:
dailyrs=(cprice-oprice)/oprice
print(dailyrs)

Date
2009-12-31   -0.010367
2010-01-04    0.006106
2010-01-05    0.000624
2010-01-06   -0.002869
2010-01-07    0.000853
                ...
2023-04-24   -0.001350
2023-04-25   -0.014174
2023-04-26   -0.004942
2023-04-27    0.014207
2023-04-28    0.008999
Length: 3354, dtype: float64

In [8]:
final_price=ixic.iloc[-1]["Close"]
ogprice=ixic.iloc[0]["Open"]

cumulative=(final_price-ogprice)/ogprice
print(cumulative)

4.33231883132094

In [9]:
std=dailyrs.std()
time_period=ixic.shape[0]
volatility=std*sqrt(time_period)
volatility

0.5849781547360452

In [10]:
rfrate=0.001

In [11]:
excess=dailyrs-rfrate
sharpe=excess.mean()/excess.std()
sharpe

-0.07417451623660938

In [12]:
neg_returns=dailyrs[dailyrs<0]
neg_returns

Date
2009-12-31   -0.010367
2010-01-06   -0.002869
2010-01-11   -0.005321
2010-01-12   -0.006516
2010-01-15   -0.012512
                ...
2023-04-12   -0.014989
2023-04-18   -0.006633
2023-04-24   -0.001350
2023-04-25   -0.014174
2023-04-26   -0.004942
Length: 1518, dtype: float64

In [13]:
sortino=excess.mean()/neg_returns.std()
sortino

-0.09762879366196571

In [14]:
peak=cprice.max()
index=list(np.where(cprice==peak))
index=index[0][0]

indices=cprice.index
peak_day=indices[index]

peak_day=peak_day.strftime("%Y-%m-%d")

In [15]:
ixic_later=ixic.loc[peak_day:"2023-04-26",:]
minimum=ixic_later["Close"].min()
Mdd=(minimum-peak)/peak*100
Mdd

-36.395279909120205

In [16]:
for stock in Indices.columns:
    stck=yf.download(stock,start="2010-01-01",end="2023-05-01")
    
    cprice=stck["Close"]
    oprice=stck["Open"]
    dailyrs=(cprice-oprice)/cprice

    final_price=stck.iloc[-1]["Close"]
    ogprice=stck.iloc[0]["Open"]

    cumulative=(final_price-ogprice)/ogprice
    Indices.at["Cumulative Returns",stock]=cumulative

    std=dailyrs.std()
    time_period=stck.shape[0]
    volatility=std*sqrt(time_period)
    Indices.at["Volatility",stock]=volatility

    excess=dailyrs-rfrate
    sharpe=excess.mean()/excess.std()

    Indices.at["Sharpe ratio",stock]=sharpe
    
    neg_returns=dailyrs[dailyrs<0]
    sortino=excess.mean()/neg_returns.std()

    Indices.at["Sortino ratio",stock]=sortino

    peak=cprice.max()
    index=list(np.where(cprice==peak))
    index=index[0][0]

    indices=cprice.index
    peak_day=indices[index]

    peak_day=peak_day.strftime("%Y-%m-%d")

    stck_later=stck.loc[peak_day:"2023-04-26",:]
    minimum=stck_later["Close"].min()
    Mdd=(minimum-peak)/peak*100

    Indices.at["MDD",stock]=Mdd

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [17]:

for stock in Equities.columns:
    stck=yf.download(stock,start="2010-01-01",end="2023-05-01")
    
    cprice=stck["Close"]
    oprice=stck["Open"]
    dailyrs=(cprice-oprice)/cprice

    final_price=stck.iloc[-1]["Close"]
    ogprice=stck.iloc[0]["Open"]

    cumulative=(final_price-ogprice)/ogprice
    Equities.at["Cumulative Returns",stock]=cumulative

    std=dailyrs.std()
    time_period=stck.shape[0]
    volatility=std*sqrt(time_period)
    Equities.at["Volatility",stock]=volatility

    excess=dailyrs-rfrate
    sharpe=excess.mean()/excess.std()

    Equities.at["Sharpe ratio",stock]=sharpe
    
    neg_returns=dailyrs[dailyrs<0]
    sortino=excess.mean()/neg_returns.std()

    Equities.at["Sortino ratio",stock]=sortino

    peak=cprice.max()
    index=list(np.where(cprice==peak))
    index=index[0][0]

    Equity=cprice.index
    peak_day=Equity[index]

    peak_day=peak_day.strftime("%Y-%m-%d")

    stck_later=stck.loc[peak_day:"2023-04-26",:]
    minimum=stck_later["Close"].min()
    Mdd=(minimum-peak)/peak*100

    Equities.at["MDD",stock]=Mdd

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [18]:
Indices

                       ^IXIC      ^GSPC       ^DJI       ^RUT       ^VIX
Cumulative Returns  4.332319   2.700941    2.23251   1.794172  -0.209419
Volatility          0.586739   0.544262    0.53003   0.748159   3.737514
Sharpe ratio       -0.084051  -0.086023  -0.086478  -0.070304  -0.163068
Sortino ratio      -0.107654  -0.105725  -0.107863  -0.089734   -0.26461
MDD                -36.39528 -25.425097 -21.940804 -32.459452 -81.847866

In [19]:
Equities

                        GOOGL       AAPL       ASML       AMZN        HDB
Cumulative Returns   5.865636  21.291745  17.513371  14.384054   4.379991
Volatility           0.750946   0.811878   0.829463   0.951916   0.783863
Sharpe ratio         -0.08458   -0.05937  -0.061774  -0.066884  -0.085858
Sortino ratio       -0.114983  -0.084448  -0.085006  -0.096433  -0.118214
MDD                -44.320051 -31.311466 -57.369031 -56.145263 -39.462686