In [7]:
import matplotlib.pyplot as plt
import numpy as np 
import pandas as pd
from sklearn.model_selection import train_test_split

In [8]:
df = pd.read_csv('carprice.csv')
df.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [9]:
df1 = df[["carlength","carwidth","carheight","enginesize","stroke","horsepower","price"]]
df

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,-1,volvo 145e (sw),gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845.0
201,202,-1,volvo 144ea,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045.0
202,203,-1,volvo 244dl,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485.0
203,204,-1,volvo 246,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470.0
204,205,-1,volvo 264gl,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625.0

In [10]:
y = df1["price"]
x = df1.drop("price",axis=1)

In [11]:
X_train, X_test, y_train, y_test = train_test_split(
    x, y, test_size=0.20)
from sklearn.linear_model import LinearRegression

model=LinearRegression()
model.fit(X_train.values,y_train)

LinearRegression()

In [17]:
prediction= model.predict(X_test.values)
print(prediction)
print("\nscore is")
print(model.score(X_test.values,y_test.values))

[14220.80730062  9490.5108534  14955.78196553 20458.37692448
  7218.52683669 17266.89428142  6132.44947716  7560.26690255
  5544.86310015 14955.78196553 11122.26057675 14460.96081592
 48737.29007748 18133.00564939 17186.230436   14537.07250889
 11421.54121531  8483.92239838 17362.64346572 13854.14207822
  6610.81600037  6776.1010197  14955.78196553 22809.15061999
 12047.11797139  5544.86310015 23845.57435669 10796.93258511
 17026.83050087 42471.45628433 11702.66740674  6521.09315217
 14220.80730062  9412.92534445 11830.39094803  6132.44947716
 11938.74787213 18226.24711278 15030.9140009   6459.28434163
  5725.80308758]

score is
0.7575780625605315

In [18]:
xtest = [190.9,70.3,54.9,183,3.64,123]
xtest = np.array(xtest).reshape(1,-1)
print(model.predict(xtest))

[22898.9059703]