In [34]:
import yfinance as yf
import pandas as pd
from math import sqrt
import numpy as np
import datetime
from datetime import date

In [39]:
Indices=pd.DataFrame(index=["Cumulative Returns","Volatility","Sharpe ratio","Sortino ratio","MDD"],columns=["^NZ50","^KS11","^STI","^HSI","^BFX"])
Indices

                   ^NZ50 ^KS11 ^STI ^HSI ^BFX
Cumulative Returns   NaN   NaN  NaN  NaN  NaN
Volatility           NaN   NaN  NaN  NaN  NaN
Sharpe ratio         NaN   NaN  NaN  NaN  NaN
Sortino ratio        NaN   NaN  NaN  NaN  NaN
MDD                  NaN   NaN  NaN  NaN  NaN

In [40]:
Equities=pd.DataFrame(index=["Cumulative Returns","Volatility","Sharpe ratio","Sortino ratio","MDD"],columns=["NKE","HD","BA","GOOGL","AMZN"])
Equities

                    NKE   HD   BA GOOGL AMZN
Cumulative Returns  NaN  NaN  NaN   NaN  NaN
Volatility          NaN  NaN  NaN   NaN  NaN
Sharpe ratio        NaN  NaN  NaN   NaN  NaN
Sortino ratio       NaN  NaN  NaN   NaN  NaN
MDD                 NaN  NaN  NaN   NaN  NaN

In [12]:
nz=yf.download("^NZ50",start="2010-01-01",end="2023-05-01")

[*********************100%***********************]  1 of 1 completed

In [13]:
nz

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-01-05,3230.149902,3271.290039,3230.149902,3268.189941,3268.189941,15713800
2010-01-06,3268.189941,3272.139893,3263.459961,3271.570068,3271.570068,17077000
2010-01-07,3271.570068,3286.610107,3270.810059,3284.810059,3284.810059,47356800
2010-01-08,3284.810059,3313.179932,3284.810059,3310.229980,3310.229980,19330800
2010-01-11,3310.229980,3310.229980,3297.790039,3303.750000,3303.750000,28157000
...,...,...,...,...,...,...
2023-04-21,11879.679688,11927.500000,11843.650391,11927.500000,11927.500000,22346100
2023-04-24,11927.500000,12026.389648,11873.809570,12026.389648,12026.389648,14422600
2023-04-26,12026.389648,12026.389648,11916.969727,11934.980469,11934.980469,26403000
2023-04-27,11934.980469,11957.969727,11909.780273,11918.219727,11918.219727,27433600
2023-04-28,11918.219727,12019.839844,11916.629883,12019.839844,12019.839844,41744600

In [15]:
cprice=nz["Close"]
oprice=nz["Open"]
print(cprice)
print(oprice)

Date
2010-01-05     3268.189941
2010-01-06     3271.570068
2010-01-07     3284.810059
2010-01-08     3310.229980
2010-01-11     3303.750000
                  ...
2023-04-21    11927.500000
2023-04-24    12026.389648
2023-04-26    11934.980469
2023-04-27    11918.219727
2023-04-28    12019.839844
Name: Close, Length: 3261, dtype: float64
Date
2010-01-05     3230.149902
2010-01-06     3268.189941
2010-01-07     3271.570068
2010-01-08     3284.810059
2010-01-11     3310.229980
                  ...
2023-04-21    11879.679688
2023-04-24    11927.500000
2023-04-26    12026.389648
2023-04-27    11934.980469
2023-04-28    11918.219727
Name: Open, Length: 3261, dtype: float64

In [16]:
dailyrs=(cprice-oprice)/oprice
print(dailyrs)

Date
2010-01-05    0.011777
2010-01-06    0.001034
2010-01-07    0.004047
2010-01-08    0.007739
2010-01-11   -0.001958
                ...
2023-04-21    0.004025
2023-04-24    0.008291
2023-04-26   -0.007601
2023-04-27   -0.001404
2023-04-28    0.008526
Length: 3261, dtype: float64

In [17]:
final_price=nz.iloc[-1]["Close"]
ogprice=nz.iloc[0]["Open"]

cumulative=(final_price-ogprice)/ogprice
print(cumulative)

2.7211399492725024

In [18]:
std=dailyrs.std()
time_period=nz.shape[0]
volatility=std*sqrt(time_period)
volatility

0.37658487537062724

In [19]:
rfrate=0.001

In [20]:
excess=dailyrs-rfrate
sharpe=excess.mean()/excess.std()
sharpe

-0.08923765206223343

In [21]:
neg_returns=dailyrs[dailyrs<0]
neg_returns

Date
2010-01-11   -0.001958
2010-01-12   -0.004074
2010-01-13   -0.004282
2010-01-15   -0.006217
2010-01-18   -0.003330
                ...
2023-04-14   -0.004216
2023-04-18   -0.004361
2023-04-20   -0.003200
2023-04-26   -0.007601
2023-04-27   -0.001404
Length: 1397, dtype: float64

In [22]:
sortino=excess.mean()/neg_returns.std()
sortino

-0.11194774592550388

In [23]:
peak=cprice.max()
index=list(np.where(cprice==peak))
index=index[0][0]

indices=cprice.index
peak_day=indices[index]

peak_day=peak_day.strftime("%Y-%m-%d")

In [24]:
nz_later=nz.loc[peak_day:"2023-04-26",:]
minimum=nz_later["Close"].min()
Mdd=(minimum-peak)/peak*100
Mdd

-21.905506120284333

In [25]:
for stock in Indices.columns:
    stck=yf.download(stock,start="2010-01-01",end="2023-05-01")
    
    cprice=stck["Close"]
    oprice=stck["Open"]
    dailyrs=(cprice-oprice)/cprice

    final_price=stck.iloc[-1]["Close"]
    ogprice=stck.iloc[0]["Open"]

    cumulative=(final_price-ogprice)/ogprice
    Indices.at["Cumulative Returns",stock]=cumulative

    std=dailyrs.std()
    time_period=stck.shape[0]
    volatility=std*sqrt(time_period)
    Indices.at["Volatility",stock]=volatility

    excess=dailyrs-rfrate
    sharpe=excess.mean()/excess.std()

    Indices.at["Sharpe ratio",stock]=sharpe
    
    neg_returns=dailyrs[dailyrs<0]
    sortino=excess.mean()/neg_returns.std()

    Indices.at["Sortino ratio",stock]=sortino

    peak=cprice.max()
    index=list(np.where(cprice==peak))
    index=index[0][0]

    indices=cprice.index
    peak_day=indices[index]

    peak_day=peak_day.strftime("%Y-%m-%d")

    stck_later=stck.loc[peak_day:"2023-04-26",:]
    minimum=stck_later["Close"].min()
    Mdd=(minimum-peak)/peak*100

    Indices.at["MDD",stock]=Mdd

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [41]:

for stock in Equities.columns:
    stck=yf.download(stock,start="2010-01-01",end="2023-05-01")
    
    cprice=stck["Close"]
    oprice=stck["Open"]
    dailyrs=(cprice-oprice)/cprice

    final_price=stck.iloc[-1]["Close"]
    ogprice=stck.iloc[0]["Open"]

    cumulative=(final_price-ogprice)/ogprice
    Equities.at["Cumulative Returns",stock]=cumulative

    std=dailyrs.std()
    time_period=stck.shape[0]
    volatility=std*sqrt(time_period)
    Equities.at["Volatility",stock]=volatility

    excess=dailyrs-rfrate
    sharpe=excess.mean()/excess.std()

    Equities.at["Sharpe ratio",stock]=sharpe
    
    neg_returns=dailyrs[dailyrs<0]
    sortino=excess.mean()/neg_returns.std()

    Equities.at["Sortino ratio",stock]=sortino

    peak=cprice.max()
    index=list(np.where(cprice==peak))
    index=index[0][0]

    Equity=cprice.index
    peak_day=Equity[index]

    peak_day=peak_day.strftime("%Y-%m-%d")

    stck_later=stck.loc[peak_day:"2023-04-26",:]
    minimum=stck_later["Close"].min()
    Mdd=(minimum-peak)/peak*100

    Equities.at["MDD",stock]=Mdd

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [29]:
Indices

                        ^NZ50      ^KS11       ^STI       ^HSI       ^BFX
Cumulative Returns    2.72114   0.487492   0.128688  -0.089911    0.50762
Volatility           0.378206   0.472847   0.398443   0.519146   0.539108
Sharpe ratio        -0.095468  -0.187628  -0.171639  -0.178964  -0.122203
Sortino ratio       -0.116315  -0.234797  -0.232271   -0.26356  -0.156576
MDD                -21.905506 -34.785081 -38.221107 -55.700772 -24.725595

In [42]:
Equities

                          NKE         HD         BA      GOOGL       AMZN
Cumulative Returns   6.673025    9.31012   2.711055   5.841545  14.478899
Volatility           0.740576   0.708156   0.994197   0.750908   0.951726
Sharpe ratio        -0.056385  -0.041788   -0.07494  -0.084397  -0.066543
Sortino ratio       -0.081243  -0.057164  -0.092798  -0.114713  -0.095917
MDD                -53.174466 -35.945987 -78.437201 -44.320051 -56.145263