In [1]:
import yfinance as yf
import pandas as pd
from statistics import mean, stdev
from math import sqrt

In [2]:
equities = ['RELIANCE.NS', 'TCS.NS', 'HDFCBANK.NS', 'HINDUNILVR.NS', 'INFY.NS']
indices = ['^GSPC', '^DJI', '^IXIC', '^NYA', '^XAX']
equities_rfr = [0.0152, 0.0152, 0.0152, 0.0152, 0.0152 ]
indices_rfr = [0.05250, 0.05250, 0.05250, 0.05250, 0.05250]

In [3]:
equities_results = []
indices_results = []
equity_data = {}
index_data = {}

In [4]:
for equity in equities:
    equity_data[equity] = yf.download(equity, start="2010-01-01", end="2023-05-01")
equity_data

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

{'RELIANCE.NS':                    Open         High          Low        Close    Adj Close  \
 Date
 2010-01-04   540.427307   540.427307   506.127411   532.700500   482.812469
 2010-01-05   569.551208   569.551208   527.697937   530.323059   480.657623
 2010-01-06   534.879883   542.111328   530.298279   538.891846   488.423920
 2010-01-07   538.891846   552.265076   533.938782   547.832092   496.527008
 2010-01-08   548.797974   551.670715   542.854309   546.395691   495.225037
 ...                 ...          ...          ...          ...          ...
 2023-04-24  2375.000000  2380.899902  2348.000000  2358.000000  2358.000000
 2023-04-25  2366.000000  2380.600098  2350.500000  2376.050049  2376.050049
 2023-04-26  2379.000000  2386.100098  2354.050049  2362.100098  2362.100098
 2023-04-27  2375.000000  2384.000000  2364.000000  2377.050049  2377.050049
 2023-04-28  2382.000000  2423.899902  2381.750000  2420.500000  2420.500000

               Volume
 Date
 2010-01-04  35372156
 2010-01-05   9872785
 2010-01-06  10933743
 2010-01-07  12090336
 2010-01-08   6973331
 ...              ...
 2023-04-24   5970048
 2023-04-25   4262471
 2023-04-26   3977129
 2023-04-27   4230627
 2023-04-28   7183342

 [3288 rows x 6 columns],
 'TCS.NS':                    Open         High          Low        Close    Adj Close  \
 Date
 2010-01-04   377.399994   379.450012   374.524994   375.825012   287.662720
 2010-01-05   377.500000   379.774994   373.274994   375.924988   287.739258
 2010-01-06   375.924988   376.100006   366.500000   367.424988   281.233307
 2010-01-07   367.750000   369.700012   355.500000   357.200012   273.406952
 2010-01-08   358.000000   359.250000   348.250000   349.899994   267.819397
 ...                 ...          ...          ...          ...          ...
 2023-04-24  3151.100098  3180.949951  3126.149902  3174.800049  3151.363037
 2023-04-25  3183.000000  3191.199951  3147.500000  3176.000000  3152.554199
 2023-04-26  3181.000000  3208.399902  3181.000000  3198.149902  3174.540527
 2023-04-27  3185.000000  3199.199951  3170.649902  3187.949951  3164.415771
 2023-04-28  3200.399902  3227.250000  3196.250000  3219.250000  3195.484863

              Volume
 Date
 2010-01-04  1963682
 2010-01-05  2014488
 2010-01-06  3349176
 2010-01-07  6474892
 2010-01-08  6048178
 ...             ...
 2023-04-24  1640676
 2023-04-25  2024090
 2023-04-26  2000029
 2023-04-27  2434446
 2023-04-28  2931312

 [3288 rows x 6 columns],
 'HDFCBANK.NS':                    Open         High          Low        Close    Adj Close  \
 Date
 2010-01-04   170.000000   172.850006   169.255005   170.570007   153.989578
 2010-01-05   171.000000   172.500000   170.500000   170.720001   154.124985
 2010-01-06   171.399994   172.000000   168.809998   170.835007   154.228821
 2010-01-07   176.839996   176.839996   170.160004   171.279999   154.630554
 2010-01-08   171.199997   172.339996   170.100006   171.505005   154.833679
 ...                 ...          ...          ...          ...          ...
 2023-04-24  1687.000000  1691.449951  1674.099976  1688.150024  1669.010010
 2023-04-25  1687.699951  1687.699951  1661.900024  1664.150024  1645.282104
 2023-04-26  1660.000000  1675.000000  1655.000000  1671.800049  1652.845337
 2023-04-27  1670.500000  1685.250000  1665.849976  1681.000000  1661.941040
 2023-04-28  1684.699951  1691.000000  1670.000000  1687.599976  1668.466187

               Volume
 Date
 2010-01-04   3050490
 2010-01-05   8386600
 2010-01-06   6639840
 2010-01-07   6123980
 2010-01-08   7085900
 ...              ...
 2023-04-24  17837926
 2023-04-25  25176534
 2023-04-26  13696375
 2023-04-27  23895196
 2023-04-28  13958136

 [3288 rows x 6 columns],
 'HINDUNILVR.NS':                    Open         High          Low        Close    Adj Close  \
 Date
 2010-01-04   264.799988   266.200012   264.100006   264.700012   206.463074
 2010-01-05   265.750000   266.399994   262.500000   263.850006   205.800064
 2010-01-06   264.750000   266.000000   262.600006   265.350006   206.970093
 2010-01-07   265.100006   267.250000   264.149994   264.799988   206.541092
 2010-01-08   265.100006   267.000000   264.149994   265.950012   207.438065
 ...                 ...          ...          ...          ...          ...
 2023-04-24  2502.000000  2504.899902  2475.100098  2499.750000  2479.499023
 2023-04-25  2490.850098  2499.750000  2478.050049  2490.449951  2470.274414
 2023-04-26  2490.000000  2518.000000  2482.199951  2510.800049  2490.459717
 2023-04-27  2513.949951  2522.000000  2457.000000  2468.949951  2448.948486
 2023-04-28  2436.050049  2467.800049  2419.000000  2457.300049  2437.393066

              Volume
 Date
 2010-01-04   668858
 2010-01-05  1392726
 2010-01-06  1682107
 2010-01-07  2723548
 2010-01-08  4000986
 ...             ...
 2023-04-24  1735797
 2023-04-25  1701098
 2023-04-26  1245903
 2023-04-27  2743893
 2023-04-28  3761927

 [3288 rows x 6 columns],
 'INFY.NS':                    Open         High          Low        Close    Adj Close  \
 Date
 2010-01-04   326.250000   328.750000   324.412506   326.575012   240.314377
 2010-01-05   327.500000   328.837494   325.012512   327.668762   241.119217
 2010-01-06   335.375000   335.375000   321.887512   322.887512   237.600861
 2010-01-07   323.325012   323.325012   314.774994   315.631256   232.261292
 2010-01-08   314.875000   315.412506   307.250000   308.024994   226.664154
 ...                 ...          ...          ...          ...          ...
 2023-04-24  1228.000000  1230.000000  1218.000000  1226.300049  1193.973267
 2023-04-25  1225.949951  1235.500000  1215.000000  1224.900024  1192.610107
 2023-04-26  1228.000000  1233.000000  1220.550049  1227.550049  1195.190308
 2023-04-27  1230.000000  1247.800049  1225.400024  1246.250000  1213.397339
 2023-04-28  1255.699951  1259.000000  1244.949951  1252.750000  1219.725952

               Volume
 Date
 2010-01-04   4069264
 2010-01-05   6895528
 2010-01-06   6817288
 2010-01-07  10892600
 2010-01-08  12649312
 ...              ...
 2023-04-24   8313774
 2023-04-25   6808576
 2023-04-26   5680192
 2023-04-27   8020704
 2023-04-28  10118277

 [3288 rows x 6 columns]}

In [5]:
for index in indices:
    index_data[index] = yf.download(index, start="2010-01-01", end="2023-05-01")
index_data

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

{'^GSPC':                    Open         High          Low        Close    Adj Close  \
 Date
 2009-12-31  1126.599976  1127.640015  1114.810059  1115.099976  1115.099976
 2010-01-04  1116.560059  1133.869995  1116.560059  1132.989990  1132.989990
 2010-01-05  1132.660034  1136.630005  1129.660034  1136.520020  1136.520020
 2010-01-06  1135.709961  1139.189941  1133.949951  1137.140015  1137.140015
 2010-01-07  1136.270020  1142.459961  1131.319946  1141.689941  1141.689941
 ...                 ...          ...          ...          ...          ...
 2023-04-24  4132.069824  4142.410156  4117.770020  4137.040039  4137.040039
 2023-04-25  4126.430176  4126.430176  4071.379883  4071.629883  4071.629883
 2023-04-26  4087.780029  4089.669922  4049.350098  4055.989990  4055.989990
 2023-04-27  4075.290039  4138.240234  4075.290039  4135.350098  4135.350098
 2023-04-28  4129.629883  4170.060059  4127.180176  4169.479980  4169.479980

                 Volume
 Date
 2009-12-31  2076990000
 2010-01-04  3991400000
 2010-01-05  2491020000
 2010-01-06  4972660000
 2010-01-07  5270680000
 ...                ...
 2023-04-24  3290940000
 2023-04-25  3978640000
 2023-04-26  3837030000
 2023-04-27  3750550000
 2023-04-28  4087800000

 [3354 rows x 6 columns],
 '^DJI':                     Open          High           Low         Close  \
 Date
 2009-12-31  10548.509766  10555.009766  10423.129883  10428.049805
 2010-01-04  10430.690430  10604.969727  10430.690430  10583.959961
 2010-01-05  10584.559570  10584.559570  10522.519531  10572.019531
 2010-01-06  10564.719727  10594.990234  10546.549805  10573.679688
 2010-01-07  10571.110352  10612.370117  10505.209961  10606.860352
 ...                  ...           ...           ...           ...
 2023-04-24  33805.039062  33891.148438  33726.089844  33875.398438
 2023-04-25  33828.339844  33875.488281  33525.390625  33530.828125
 2023-04-26  33596.339844  33645.828125  33235.851562  33301.871094
 2023-04-27  33381.660156  33859.750000  33374.648438  33826.160156
 2023-04-28  33797.429688  34104.558594  33728.398438  34098.160156

                Adj Close     Volume
 Date
 2009-12-31  10428.049805  137940000
 2010-01-04  10583.959961  179780000
 2010-01-05  10572.019531  188540000
 2010-01-06  10573.679688  186040000
 2010-01-07  10606.860352  217390000
 ...                  ...        ...
 2023-04-24  33875.398438  252020000
 2023-04-25  33530.828125  297880000
 2023-04-26  33301.871094  321170000
 2023-04-27  33826.160156  343240000
 2023-04-28  34098.160156  354310000

 [3354 rows x 6 columns],
 '^IXIC':                     Open          High           Low         Close  \
 Date
 2009-12-31   2292.919922   2293.590088   2269.110107   2269.149902
 2010-01-04   2294.409912   2311.149902   2294.409912   2308.419922
 2010-01-05   2307.270020   2313.729980   2295.620117   2308.709961
 2010-01-06   2307.709961   2314.070068   2295.679932   2301.090088
 2010-01-07   2298.090088   2301.300049   2285.219971   2300.050049
 ...                  ...           ...           ...           ...
 2023-04-24  12053.469727  12103.580078  11960.299805  12037.200195
 2023-04-25  11968.809570  11990.459961  11798.769531  11799.160156
 2023-04-26  11913.230469  11967.990234  11833.070312  11854.349609
 2023-04-27  11972.150391  12154.009766  11950.919922  12142.240234
 2023-04-28  12117.540039  12227.719727  12082.570312  12226.580078

                Adj Close      Volume
 Date
 2009-12-31   2269.149902  1237820000
 2010-01-04   2308.419922  1931380000
 2010-01-05   2308.709961  2367860000
 2010-01-06   2301.090088  2253340000
 2010-01-07   2300.050049  2270050000
 ...                  ...         ...
 2023-04-24  12037.200195  4854050000
 2023-04-25  11799.160156  4806020000
 2023-04-26  11854.349609  5281970000
 2023-04-27  12142.240234  5253710000
 2023-04-28  12226.580078  5331380000

 [3354 rows x 6 columns],
 '^NYA':                     Open          High           Low         Close  \
 Date
 2009-12-31   7241.250000   7258.750000   7183.839844   7184.959961
 2010-01-04   7184.979980   7331.120117   7184.979980   7326.740234
 2010-01-05   7326.740234   7359.459961   7313.600098   7354.870117
 2010-01-06   7354.850098   7389.279785   7342.490234   7377.700195
 2010-01-07   7377.700195   7398.209961   7325.509766   7393.930176
 ...                  ...           ...           ...           ...
 2023-04-24  15578.929688  15623.040039  15557.730469  15606.709961
 2023-04-25  15606.709961  15606.709961  15361.570312  15363.530273
 2023-04-26  15363.530273  15363.530273  15201.099609  15228.580078
 2023-04-27  15228.580078  15443.059570  15228.580078  15431.639648
 2023-04-28  15431.639648  15560.009766  15371.450195  15545.879883

                Adj Close      Volume
 Date
 2009-12-31   7184.959961  2076990000
 2010-01-04   7326.740234  3991400000
 2010-01-05   7354.870117  2491020000
 2010-01-06   7377.700195  4972660000
 2010-01-07   7393.930176  5270680000
 ...                  ...         ...
 2023-04-24  15606.709961  3290940000
 2023-04-25  15363.530273  3978640000
 2023-04-26  15228.580078  3837030000
 2023-04-27  15431.639648  3750550000
 2023-04-28  15545.879883  4087800000

 [3354 rows x 6 columns],
 '^XAX':                    Open         High          Low        Close    Adj Close  \
 Date
 2009-12-31  1823.880005  1831.819946  1822.229980  1824.939941  1824.939941
 2010-01-04  1824.949951  1856.689941  1824.949951  1853.660034  1853.660034
 2010-01-05  1853.660034  1860.050049  1847.219971  1859.920044  1859.920044
 2010-01-06  1859.920044  1874.270020  1857.859985  1866.900024  1866.900024
 2010-01-07  1866.920044  1871.239990  1860.290039  1868.020020  1868.020020
 ...                 ...          ...          ...          ...          ...
 2023-04-24  4254.310059  4297.080078  4242.799805  4283.879883  4283.879883
 2023-04-25  4283.879883  4283.879883  4180.819824  4191.330078  4191.330078
 2023-04-26  4191.330078  4214.580078  4158.520020  4174.149902  4174.149902
 2023-04-27  4174.149902  4220.390137  4171.129883  4191.000000  4191.000000
 2023-04-28  4191.000000  4229.560059  4132.450195  4199.500000  4199.500000

             Volume
 Date
 2009-12-31  134500
 2010-01-04  180500
 2010-01-05  165000
 2010-01-06  204500
 2010-01-07  171900
 ...            ...
 2023-04-24       0
 2023-04-25       0
 2023-04-26       0
 2023-04-27       0
 2023-04-28       0

 [3354 rows x 6 columns]}

In [6]:
cumulative_returns = []
for equity in equities:
    initial_value = equity_data[equity].iloc[0]['Adj Close']
    final_value = equity_data[equity].iloc[-1]['Adj Close']
    cumulative_return = (final_value-initial_value)/initial_value
    cumulative_returns.append(cumulative_return)
equities_results.append(cumulative_returns)
cumulative_returns

[4.0133336502157695,
 10.108442784378576,
 9.834929256358167,
 10.805467303989634,
 4.075542995939551]

In [7]:
cumulative_returns = []
for index in indices:
    initial_value = index_data[index].iloc[0]['Adj Close']
    final_value = index_data[index].iloc[-1]['Adj Close']
    cumulative_return = (final_value-initial_value)/initial_value
    cumulative_returns.append(cumulative_return)
indices_results.append(cumulative_returns)
cumulative_returns

[2.7391086644745606,
 2.269850144072248,
 4.388176455639384,
 1.1636696609766577,
 1.3011716192500984]

In [8]:
volatilities = []
for equity in equities:
    daily_returns = []
    hist = equity_data[equity]
    rows = hist.shape[0]
    for i in range(1, rows):
        daily_return = (hist.iloc[i]['Adj Close']-hist.iloc[i-1]['Adj Close'])/hist.iloc[i-1]['Adj Close']
        daily_returns.append(daily_return)
    volatility = stdev(daily_returns)*sqrt(252)
    volatilities.append(volatility)
equities_results.append(volatilities)
volatilities

[0.2815755195533634,
 0.25347889789069566,
 0.23639196566196413,
 0.24003952417274943,
 0.27634816886329805]

In [9]:
volatilities = []
for index in indices:
    daily_returns = []
    hist = index_data[index]
    rows = hist.shape[0]
    for i in range(1, rows):
        daily_return = (hist.iloc[i]['Adj Close']-hist.iloc[i-1]['Adj Close'])/hist.iloc[i-1]['Adj Close']
        daily_returns.append(daily_return)
    volatility = stdev(daily_returns)*sqrt(252)
    volatilities.append(volatility)
indices_results.append(volatilities)
volatilities

[0.17763206541462404,
 0.17183854660661252,
 0.206075480772743,
 0.17557204660103784,
 0.1960054307495632]

In [10]:
sharpe_ratios = []
for equity, equity_rfr in zip(equities, equities_rfr):
    daily_returns = []
    hist = equity_data[equity]
    rows = hist.shape[0]
    for i in range(1, rows):
        daily_return = (hist.iloc[i]['Adj Close']-hist.iloc[i-1]['Adj Close'])/hist.iloc[i-1]['Adj Close']
        daily_returns.append(daily_return)
    expected_return = mean(daily_returns)
    std = stdev(daily_returns)
    sharpe_ratio = (expected_return - equity_rfr/252)/std
    sharpe_ratios.append(sharpe_ratio)
equities_results.append(sharpe_ratios)
sharpe_ratios

[0.03309918581746654,
 0.05008249281305291,
 0.052083320161231766,
 0.05316741646374751,
 0.03371885388643462]

In [11]:
sharpe_ratios = []
for index, index_rfr in zip(indices, indices_rfr):
    daily_returns = []
    hist = index_data[index]
    rows = hist.shape[0]
    for i in range(1, rows):
        daily_return = (hist.iloc[i]['Adj Close']-hist.iloc[i-1]['Adj Close'])/hist.iloc[i-1]['Adj Close']
        daily_returns.append(daily_return)
    expected_return = mean(daily_returns)
    std = stdev(daily_returns)
    sharpe_ratio = (expected_return - index_rfr/252)/std
    sharpe_ratios.append(sharpe_ratio)
indices_results.append(sharpe_ratios)
sharpe_ratios

[0.02215600329994659,
 0.018837114540582393,
 0.029168718632715147,
 0.007536746491757518,
 0.009484331533814415]

In [12]:
sortino_ratios = []
for equity, equity_rfr in zip(equities, equities_rfr):
    daily_returns = []
    hist = equity_data[equity]
    rows = hist.shape[0]
    for i in range(1, rows):
        daily_return = (hist.iloc[i]['Adj Close']-hist.iloc[i-1]['Adj Close'])/hist.iloc[i-1]['Adj Close']
        daily_returns.append(daily_return)
    expected_return = mean(daily_returns)
    negative_returns = [retrn for retrn in daily_returns if retrn < 0]
    std = stdev(negative_returns)
    sortino_ratio = (expected_return - equity_rfr/252)/std
    sortino_ratios.append(sortino_ratio)
equities_results.append(sortino_ratios)
sortino_ratios

[0.05123388146627192,
 0.07451990378488811,
 0.0772740199897914,
 0.09037305643261379,
 0.043413442333629176]

In [13]:
sortino_ratios = []
for index, index_rfr in zip(indices, indices_rfr):
    daily_returns = []
    hist = index_data[index]
    rows = hist.shape[0]
    for i in range(1, rows):
        daily_return = (hist.iloc[i]['Adj Close']-hist.iloc[i-1]['Adj Close'])/hist.iloc[i-1]['Adj Close']
        daily_returns.append(daily_return)
    expected_return = mean(daily_returns)
    negative_returns = [retrn for retrn in daily_returns if retrn < 0]
    std = stdev(negative_returns)
    sortino_ratio = (expected_return - index_rfr/252)/std
    sortino_ratios.append(sortino_ratio)
indices_results.append(sortino_ratios)
sortino_ratios

[0.02712826018768483,
 0.022767891948579772,
 0.036841564760695084,
 0.009208244822342376,
 0.012082296274379083]

In [14]:
max_drawdowns = []
for equity in equities:
    hist = equity_data[equity]
    rows = hist.shape[0]
    start = hist.iloc[0]['Adj Close']
    max_drawdown = 0
    for i in range(1, rows):
        max_drawdown = min(max_drawdown, (hist.iloc[i]['Adj Close'] - start)/start)
        start = max(start, hist.iloc[i]['Adj Close'])
    max_drawdowns.append(max_drawdown)
equities_results.append(max_drawdowns)
max_drawdowns

[-0.45088356571784804,
 -0.2721129471337948,
 -0.41054976702746304,
 -0.30455786430789505,
 -0.3795202515429035]

In [15]:
max_drawdowns = []
for index in indices:
    hist = index_data[index]
    rows = hist.shape[0]
    start = hist.iloc[0]['Adj Close']
    max_drawdown = 0
    for i in range(1, rows):
        max_drawdown = min(max_drawdown, (hist.iloc[i]['Adj Close'] - start)/start)
        start = max(start, hist.iloc[i]['Adj Close'])
    max_drawdowns.append(max_drawdown)
indices_results.append(max_drawdowns)
max_drawdowns

[-0.3392496000265327,
 -0.37086171369594323,
 -0.36395279909120204,
 -0.3811424952096922,
 -0.5351163257586528]

In [16]:
equities_results

[[4.0133336502157695,
  10.108442784378576,
  9.834929256358167,
  10.805467303989634,
  4.075542995939551],
 [0.2815755195533634,
  0.25347889789069566,
  0.23639196566196413,
  0.24003952417274943,
  0.27634816886329805],
 [0.03309918581746654,
  0.05008249281305291,
  0.052083320161231766,
  0.05316741646374751,
  0.03371885388643462],
 [0.05123388146627192,
  0.07451990378488811,
  0.0772740199897914,
  0.09037305643261379,
  0.043413442333629176],
 [-0.45088356571784804,
  -0.2721129471337948,
  -0.41054976702746304,
  -0.30455786430789505,
  -0.3795202515429035]]

In [17]:
rows = ['Cumulative Return', 'Volatility', 'Sharpe Ratio', 'Sortino Ratio', 'Max Drawdown']
Equities_results = pd.DataFrame(equities_results, index=rows, columns=equities)
Indices_results = pd.DataFrame(indices_results, index=rows, columns=indices)

In [18]:
Equities_results

,RELIANCE.NS,TCS.NS,HDFCBANK.NS,HINDUNILVR.NS,INFY.NS
Cumulative Return,4.013334,10.108443,9.834929,10.805467,4.075543
Volatility,0.281576,0.253479,0.236392,0.240040,0.276348
Sharpe Ratio,0.033099,0.050082,0.052083,0.053167,0.033719
Sortino Ratio,0.051234,0.074520,0.077274,0.090373,0.043413
Max Drawdown,-0.450884,-0.272113,-0.410550,-0.304558,-0.379520

In [19]:
Indices_results

                      ^GSPC      ^DJI     ^IXIC      ^NYA      ^XAX
Cumulative Return  2.739109  2.269850  4.388176  1.163670  1.301172
Volatility         0.177632  0.171839  0.206075  0.175572  0.196005
Sharpe Ratio       0.022156  0.018837  0.029169  0.007537  0.009484
Sortino Ratio      0.027128  0.022768  0.036842  0.009208  0.012082
Max Drawdown      -0.339250 -0.370862 -0.363953 -0.381142 -0.535116