In [3]:
!pip install yfinance

Collecting yfinance

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
conda-repo-cli 1.0.4 requires pathlib, which is not installed.

  Using cached yfinance-0.2.18-py2.py3-none-any.whl (60 kB)
Collecting multitasking>=0.0.7
  Using cached multitasking-0.0.11-py3-none-any.whl (8.5 kB)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\asjasdraza13\anaconda3\lib\site-packages (from yfinance) (4.11.1)
Requirement already satisfied: pandas>=1.3.0 in c:\users\asjasdraza13\anaconda3\lib\site-packages (from yfinance) (1.4.2)
Requirement already satisfied: cryptography>=3.3.2 in c:\users\asjasdraza13\anaconda3\lib\site-packages (from yfinance) (3.4.8)
Requirement already satisfied: appdirs>=1.4.4 in c:\users\asjasdraza13\anaconda3\lib\site-packages (from yfinance) (1.4.4)
Requirement already satisfied: requests>=2.26 in c:\users\asjasdraza13\anaconda3\lib\site-packages (from yfinance) (2.27.1)
Collecting frozendict>=2.3.4
  Downloading frozendict-2.3.8-cp39-cp39-win_amd64.whl (35 kB)
Collecting lxml>=4.9.1
  Downloading lxml-4.9.2-cp39-cp39-win_amd64.whl (3.9 MB)
Collecting html5lib>=1.1
  Using cached html5lib-1.1-py2.py3-none-any.whl (112 kB)
Collecting pytz>=2022.5
  Downloading pytz-2023.3-py2.py3-none-any.whl (502 kB)
Requirement already satisfied: numpy>=1.16.5 in c:\users\asjasdraza13\anaconda3\lib\site-packages (from yfinance) (1.21.5)
Requirement already satisfied: soupsieve>1.2 in c:\users\asjasdraza13\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.3.1)
Requirement already satisfied: cffi>=1.12 in c:\users\asjasdraza13\anaconda3\lib\site-packages (from cryptography>=3.3.2->yfinance) (1.15.0)
Requirement already satisfied: pycparser in c:\users\asjasdraza13\anaconda3\lib\site-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)
Requirement already satisfied: six>=1.9 in c:\users\asjasdraza13\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in c:\users\asjasdraza13\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\asjasdraza13\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\asjasdraza13\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (1.26.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\asjasdraza13\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\users\asjasdraza13\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\asjasdraza13\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2.0.4)
Installing collected packages: pytz, multitasking, lxml, html5lib, frozendict, yfinance
  Attempting uninstall: pytz
    Found existing installation: pytz 2021.3
    Uninstalling pytz-2021.3:
      Successfully uninstalled pytz-2021.3
  Attempting uninstall: lxml
    Found existing installation: lxml 4.8.0
    Uninstalling lxml-4.8.0:
      Successfully uninstalled lxml-4.8.0
Successfully installed frozendict-2.3.8 html5lib-1.1 lxml-4.9.2 multitasking-0.0.11 pytz-2023.3 yfinance-0.2.18

In [21]:
import pandas as pd
import yfinance as yf
import numpy as np
import datetime
from datetime import date
from math import sqrt

In [7]:
Indices=pd.DataFrame(index=["Cumulative Returns","Volatility","Sharpe ratio","Sortino ratio","MDD"],columns=["^NZ50","^KS11","^STI","^HSI","^BFX"])
Indices

                   ^NZ50 ^KS11 ^STI ^HSI ^BFX
Cumulative Returns   NaN   NaN  NaN  NaN  NaN
Volatility           NaN   NaN  NaN  NaN  NaN
Sharpe ratio         NaN   NaN  NaN  NaN  NaN
Sortino ratio        NaN   NaN  NaN  NaN  NaN
MDD                  NaN   NaN  NaN  NaN  NaN

In [8]:
Equities=pd.DataFrame(index=["Cumulative Returns","Volatility","Sharpe ratio","Sortino ratio","MDD"],columns=["NKE","HD","BA","GOOGL","AMZN"])
Equities

                    NKE   HD   BA GOOGL AMZN
Cumulative Returns  NaN  NaN  NaN   NaN  NaN
Volatility          NaN  NaN  NaN   NaN  NaN
Sharpe ratio        NaN  NaN  NaN   NaN  NaN
Sortino ratio       NaN  NaN  NaN   NaN  NaN
MDD                 NaN  NaN  NaN   NaN  NaN

In [10]:
nz=yf.download("^NZ50",start="2010-01-01",end="2023-05-10")

[*********************100%***********************]  1 of 1 completed

In [11]:
nz

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-01-05,3230.149902,3271.290039,3230.149902,3268.189941,3268.189941,15713800
2010-01-06,3268.189941,3272.139893,3263.459961,3271.570068,3271.570068,17077000
2010-01-07,3271.570068,3286.610107,3270.810059,3284.810059,3284.810059,47356800
2010-01-08,3284.810059,3313.179932,3284.810059,3310.229980,3310.229980,19330800
2010-01-11,3310.229980,3310.229980,3297.790039,3303.750000,3303.750000,28157000
...,...,...,...,...,...,...
2023-05-03,12037.809570,12037.809570,11881.230469,11907.990234,11907.990234,17588800
2023-05-04,11907.990234,11968.549805,11868.849609,11968.549805,11968.549805,16620700
2023-05-05,11968.549805,11977.959961,11859.129883,11889.009766,11889.009766,22961800
2023-05-08,11889.009766,11942.490234,11873.089844,11942.490234,11942.490234,15374000
2023-05-09,11942.490234,11942.490234,11844.259766,11889.610352,11889.610352,26204500

In [17]:
cprice=nz["Close"]
oprice=nz["Open"]
print("closing price\n\n",cprice)
print("opening price\n\n",oprice)

closing price

 Date
2010-01-05     3268.189941
2010-01-06     3271.570068
2010-01-07     3284.810059
2010-01-08     3310.229980
2010-01-11     3303.750000
                  ...
2023-05-03    11907.990234
2023-05-04    11968.549805
2023-05-05    11889.009766
2023-05-08    11942.490234
2023-05-09    11889.610352
Name: Close, Length: 3268, dtype: float64
opening price

 Date
2010-01-05     3230.149902
2010-01-06     3268.189941
2010-01-07     3271.570068
2010-01-08     3284.810059
2010-01-11     3310.229980
                  ...
2023-05-03    12037.809570
2023-05-04    11907.990234
2023-05-05    11968.549805
2023-05-08    11889.009766
2023-05-09    11942.490234
Name: Open, Length: 3268, dtype: float64

In [18]:
dailyrs=(cprice-oprice)/oprice
print(dailyrs)

Date
2010-01-05    0.011777
2010-01-06    0.001034
2010-01-07    0.004047
2010-01-08    0.007739
2010-01-11   -0.001958
                ...
2023-05-03   -0.010784
2023-05-04    0.005086
2023-05-05   -0.006646
2023-05-08    0.004498
2023-05-09   -0.004428
Length: 3268, dtype: float64

In [19]:
final_price=nz.iloc[-1]["Close"]
ogprice=nz.iloc[0]["Open"]

cumulative=(final_price-ogprice)/ogprice
print(cumulative)

2.6808230921220004

In [22]:
std=dailyrs.std()
time_period=nz.shape[0]
volatility=std*sqrt(time_period)
volatility

0.376912076853267

In [23]:
rfrate=0.001

In [24]:
excess=dailyrs-rfrate
sharpe=excess.mean()/excess.std()
sharpe

-0.08988959066647344

In [25]:
neg_returns=dailyrs[dailyrs<0]
neg_returns

Date
2010-01-11   -0.001958
2010-01-12   -0.004074
2010-01-13   -0.004282
2010-01-15   -0.006217
2010-01-18   -0.003330
                ...
2023-04-27   -0.001404
2023-05-01   -0.001404
2023-05-03   -0.010784
2023-05-05   -0.006646
2023-05-09   -0.004428
Length: 1401, dtype: float64

In [26]:
sortino=excess.mean()/neg_returns.std()
sortino

-0.11283036582274289

In [28]:
peak=cprice.max()
index=list(np.where(cprice==peak))
index=index[0][0]

indices=cprice.index
peak_day=indices[index]

peak_day=peak_day.strftime("%Y-%m-%d")

In [29]:
nz_later=nz.loc[peak_day:"2023-04-26",:]
minimum=nz_later["Close"].min()
Mdd=(minimum-peak)/peak*100
Mdd

-21.905506120284333

In [30]:
for stock in Indices.columns:
    stck=yf.download(stock,start="2010-01-01",end="2023-05-01")
    
    cprice=stck["Close"]
    oprice=stck["Open"]
    dailyrs=(cprice-oprice)/cprice

    final_price=stck.iloc[-1]["Close"]
    ogprice=stck.iloc[0]["Open"]

    cumulative=(final_price-ogprice)/ogprice
    Indices.at["Cumulative Returns",stock]=cumulative

    std=dailyrs.std()
    time_period=stck.shape[0]
    volatility=std*sqrt(time_period)
    Indices.at["Volatility",stock]=volatility

    excess=dailyrs-rfrate
    sharpe=excess.mean()/excess.std()

    Indices.at["Sharpe ratio",stock]=sharpe
    
    neg_returns=dailyrs[dailyrs<0]
    sortino=excess.mean()/neg_returns.std()

    Indices.at["Sortino ratio",stock]=sortino

    peak=cprice.max()
    index=list(np.where(cprice==peak))
    index=index[0][0]

    indices=cprice.index
    peak_day=indices[index]

    peak_day=peak_day.strftime("%Y-%m-%d")

    stck_later=stck.loc[peak_day:"2023-04-26",:]
    minimum=stck_later["Close"].min()
    Mdd=(minimum-peak)/peak*100

    Indices.at["MDD",stock]=Mdd

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [31]:
Indices

                        ^NZ50      ^KS11       ^STI       ^HSI       ^BFX
Cumulative Returns    2.72114   0.487492   0.128688  -0.089911    0.50762
Volatility           0.378206   0.472847   0.398443   0.519146   0.539108
Sharpe ratio        -0.095468  -0.187628  -0.171639  -0.178964  -0.122203
Sortino ratio       -0.116315  -0.234797  -0.232271   -0.26356  -0.156576
MDD                -21.905506 -34.785081 -38.221107 -55.700772 -24.725595

In [32]:

for stock in Equities.columns:
    stck=yf.download(stock,start="2010-01-01",end="2023-05-01")
    
    cprice=stck["Close"]
    oprice=stck["Open"]
    dailyrs=(cprice-oprice)/cprice

    final_price=stck.iloc[-1]["Close"]
    ogprice=stck.iloc[0]["Open"]

    cumulative=(final_price-ogprice)/ogprice
    Equities.at["Cumulative Returns",stock]=cumulative

    std=dailyrs.std()
    time_period=stck.shape[0]
    volatility=std*sqrt(time_period)
    Equities.at["Volatility",stock]=volatility

    excess=dailyrs-rfrate
    sharpe=excess.mean()/excess.std()

    Equities.at["Sharpe ratio",stock]=sharpe
    
    neg_returns=dailyrs[dailyrs<0]
    sortino=excess.mean()/neg_returns.std()

    Equities.at["Sortino ratio",stock]=sortino

    peak=cprice.max()
    index=list(np.where(cprice==peak))
    index=index[0][0]

    Equity=cprice.index
    peak_day=Equity[index]

    peak_day=peak_day.strftime("%Y-%m-%d")

    stck_later=stck.loc[peak_day:"2023-04-26",:]
    minimum=stck_later["Close"].min()
    Mdd=(minimum-peak)/peak*100

    Equities.at["MDD",stock]=Mdd

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [33]:
Equities

                          NKE         HD         BA      GOOGL       AMZN
Cumulative Returns   6.673025    9.31012   2.711055   5.841545  14.478899
Volatility           0.740576   0.708156   0.994197   0.750908   0.951726
Sharpe ratio        -0.056385  -0.041788   -0.07494  -0.084397  -0.066543
Sortino ratio       -0.081243  -0.057164  -0.092798  -0.114713  -0.095917
MDD                -53.174466 -35.945987 -78.437201 -44.320051 -56.145263